{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section  page-portfolio pt-0 pb-0">
  <a class="project-section dave-section block">
    <div class="dave-container graphic-container container">
      <div class="col-lg-6 col-md-12 pt-48">
        <div class="company-name">
          Dave
        </div>
        <div class="project-header">
          Customer Success Workspace
        </div>
        <div class="project-subtitle">
          Lorem ipsum dor sit al met. Lorem ipsum dor sit al met. Lorem ipsum dor sit al met. Lorem ipsum dor sit al met.
        </div>
        <div class="project-date">
          2019
        </div>
      </div>
    </div>
  </a>
  <div class="project-section ubermedia-section">
    <div class="ubermedia-container graphic-container container">
      <div class="col-lg-4 col-md-12 pt-48">
        <div class="company-name">
          UberMedia
        </div>
        <div class="project-header">
          Vista Measurement
        </div>
        <div class="project-subtitle">
          Lorem ipsum dor sit al met. Lorem ipsum dor sit al met. Lorem ipsum dor sit al met. Lorem ipsum dor sit al met.
        </div>
        <div class="project-date">
          2018
        </div>
      </div>
      <!-- <div class="project-assets col-lg-6 col-md-12">
        <div class="layer-bg">
          <div class="layer l1">
            <img src="/images/portfolio/ubermedia/screen-main.png" alt="">
          </div>
          <div class="layer l2">
            <img src="/images/portfolio/ubermedia/screen-map.png" alt="">
          </div>
          <div class="layer l3">
            <img src="/images/portfolio/ubermedia/screen-bar-chart.png" alt="">
          </div>
        </div>
      </div> -->
    </div>
  </div>

</section>
<!-- /portfolio -->

{{ end }}
