{{ define "main" }}

<!-- page title -->
<section class="page-title  page-title-meetloaf  position-relative  overflow-hidden  pt-0  pb-0">
  <div class="container  bg-meetloaf ">
    <div class="row">
      <div class="col-sm-12  col-md-10  col-lg-6">
        <h1 class="text-white  font-tertiary">Meetloaf brings people together</h1>
        <!-- <p>
          <a href="https://dave.com" target="_blank">Dave</a> is a start-up Unicorn with over +5 million users. Dave is “Banking for Humans.” For $1-a-month, Dave offers users checking accounts with no minimums or overdraft fees; automated budgeting; cash advances of up to $100; and the ability to build up their credit scores
        </p> -->
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- <div class="hero meetloaf"></div> -->

<div class="section  case-study-section  pt-0">
  <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
    <div class="">
      <h2>Meetloaf</h2>
      <p>Venn • 2014</p>
    </div>
  </div>
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container row">
      <div class="meta-item col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Client
        </div>
        <div class="value">
          Venn
        </div>
      </div>

      <div class="meta-item col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          Product Design
        </div>
      </div>

      <div class="meta-item col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Responsabilities
        </div>
        <div class="value">
          Design <br>
          User Testing
        </div>
      </div>

      <div class="meta-item col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          UX Design <br>
          Design System
        </div>
      </div>

      <div class="meta-item col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Team
        </div>

        <div class="value">
          <a href="https://www.linkedin.com/in/timjgiblin/" target="_blank" title="Tim Gilbin" alt="Tim Gilbin Linkedin">Tim G.</a> &mdash; Engineer<br>
          <a href="https://www.linkedin.com/in/steffanhowey/" target="_blank" title="Steffan Howey" alt="Steffan Howey Linkedin">Steffan H.</a> &mdash; :-)<br>
          <a href="../index.html" target="_blank" title="Ian Donahue" alt="Ian Donahue Portfolio">Ian D.</a> &mdash; Design<br>
        </div>
      </div>

    </div>
    <!-- /Case Study Meta Data -->

    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-8 offset-lg-4">

          <div class="d-none d-sm-none d-md-block">
            <h2>Meetloaf</h2>
            <p>Venn • 2014</p>
          </div>

          <div class="alert alert-info mt-64 mb-64" role="alert">
            <div class="flexbox">
              <div class="icon"></div>
              <div class="message">
                <b>Howdy!</b>
                <p>
                  Case study is under construction. Please check back soon.
                </p>
              </div>
            </div>
          </div>

          <p>
            Meatloaf is a mobile consumer application for helping friends, colleagues, and daters to decide when and where to meet. Meatloaf let 2-10 people quickly swipe through a list of restaurants, bars, and coffee shops to find a perfect gathering place that everyone can be excited about. Meatloaf is tinder for group gatherings.
          </p>

          <h3>Problem</h3>
          <p>
            For some people and groups its easy to know where you are going. "It's Friday night, I'm going to be at Mac's Bar with the guys," or "I always meet colleagues at our normal coffee shop." For others, organizing, planning and communicating where to meet can be much bigger of a pain point.
          </p>
          <p>
            Finding a date, time and location is full of friction points. Starting a group text is simple but getting everyone to agree isn't. The friction of organizing should not be a a reason to not meet.
          </p>



          <h3>Solution</h3>
          <p>
            Meetloaf is a mobile application developed by the team at Peerio Labs to help be a fast, easy and fun way to answer the when and where of meeting. Meetloaf works on iOS, Android and mobile web and can be used with out an account.
          </p>
          <p>
            Choose a date and time, invite your friends and start swiping. Meetloaf will gather location data from all participants, and builds a short list of coffee shops, bars and restaurants. Everyone can start swiping and once their is a match, the location is messaged to all participants.
          </p>



<!--
          <h3>My Role</h3>
          <p>
            Product designer tasked with creating a single, unified workspace for CS team members. It was one of those “One ring to rule them all” type situations. The product manager and I interviewed the CS team so we could design a workspace for them. Finally, to support the CS team, engineers, and product managers, it was important to create a design system that could scale.
          </p> -->


        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-white  pt-96">
  <div class="container">
    <div class="row justify-content-md-center pb-64">
      <div class="col-md-12 col-lg-6">
        <h2 class="text-center">Preview</h2>
      </div>
    </div>

    <section class="pt-48">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-6 align-self-center">
          <h3 class="text-center">The Problem</h3>
          <p class="text-center"></p>
        </div>
      </div>

      <div class="row">
        <div class="content-image  col-md-12">
          <div class="row">
            <div class="col-sm-12  col-md-6  col-lg-6">
              <img class="shadow text-center" src="../images/portfolio/meetloaf/iphone-group-chat.png" alt="" width="100%" style="max-width: 375px;">
            </div>
            <div class="col-sm-12  col-md-6  col-lg-6">
              <img class="shadow text-center" src="../images/portfolio/meetloaf/iphone-no-idea.png" alt="" width="100%" style="max-width: 375px;">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-48">
      <div class="row  justify-content-md-center">
        <div class="col-md-12  col-lg-6  align-self-center">
          <h3 class="text-center">Personas</h3>
        </div>
      </div>

      <div class="row  persona-container">
        <div class="persona  col-sm-12  col-md-12  col-lg-4">
          <div class="persona-content flexbox">
            <div class="persona-image">
              <img src="../images/portfolio/meetloaf/persona/coffee@2x.png" alt="coffee meeting">
            </div>
            <div class="persona-data">
              <h4 class="persona-name">Mike</h4>
              <p><strong>Age:</strong> 32</p>
              <p><strong>Goals:</strong></p>
              <ul>
                <li>Want’s to meet with an old work colleague to catch up</li>
              </ul>
              <p><strong>Frustrations:</strong></p>
              <ul>
                <li>A lot of email back and forth</li>
                <li>Finding a location conveint for both people isnt simple</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="persona  col-sm-12  col-md-12  col-lg-4">
          <div class="persona-content">
            <img src="../images/portfolio/meetloaf/persona/girls-night@2x.png" alt="girls night">
            <h4 class="persona-name">Emily</h4>
            <p><strong>Age:</strong> 23</p>
            <p><strong>Goals:</strong></p>
            <ul>
              <li>To grab drinks with a group (5) of her girlfriends</li>
            </ul>
            <p><strong>Frustrations:</strong></p>
            <ul>
              <li>Group decisions take a long time</li>
              <li>Group messaging can become overwhelming</li>
              <li>Last minute suggestions can cause changes and frustrations</li>
            </ul>
          </div>
        </div>
        <div class="persona  col-sm-12  col-md-12  col-lg-4">
          <div class="persona-content">
            <img src="../images/portfolio/meetloaf/persona/date-night@2x.png" alt="date night">
            <h4 class="persona-name">Rhett</h4>
            <p><strong>Age:</strong> 32</p>
            <p><strong>Goals:</strong></p>
            <ul>
              <li>To make dinner plans with his girlfriend</li>
            </ul>
            <p><strong>Frustrations:</strong></p>
            <ul>
              <li>Hard to find places to go with his girlfriend.</li>
              <li>A lot of back and forth to decide</li>
              <li>Never tries new places</li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section class="pt-48">
      <div class="row  justify-content-md-center">
        <div class="col-md-12  col-lg-6  align-self-center">
          <h3 class="text-center">Low-fi Prototype Click-through</h3>
        </div>
      </div>

      <div class="row">
        <div class="content-image  col-md-12">
          <div class="row">
            <div class="col-sm-12  col-md-12  col-lg-6">
              <div class="video-container">
                <video width="100%" height="700" controls poster="../images/portfolio/meetloaf/video/meetloaf-demo-part-one-placeholder.png">
                  <source src="../images/portfolio/meetloaf/video/meetloaf-demo-part-one.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
              </div>
              <div class="caption">
                Part 1 of click-through
              </div>
            </div>
            <div class="col-sm-12  col-md-12  col-lg-6">
              <div class="video-container">
                <video width="100%" height="700" controls poster="../images/portfolio/meetloaf/video/meetloaf-demo-part-two-placeholder.png">
                  <source src="../images/portfolio/meetloaf/video/meetloaf-demo-part-two.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
              </div>
              <div class="caption">
                Part 2 of click-through
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="pt-48">
      <div class="row  justify-content-md-center">
        <div class="col-md-12  col-lg-6  align-self-center">
          <h3 class="text-center">Final Designs</h3>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="phone-frame-container">
            <div class="phone-frame">
              <div id="full-size" class="image-1">
                <div class="phone-screen"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="thumbnails  col-sm-12  col-md-12  col-lg-6">
          <div class="row">
            <div class="thumnail-item  col-sm-12  col-md-3  col-lg-4">
                <img id="image-1" src="../images/portfolio/meetloaf/screens/meetloaf-screens-12@2x.png" alt="">
            </div>
            <div class="thumnail-item  col-sm-12  col-md-3  col-lg-4">
                <img id="image-2" src="../images/portfolio/meetloaf/screens/meetloaf-screens-7@2x.png" alt="">
            </div>
            <div class="thumnail-item  col-sm-12  col-md-3  col-lg-4">
                <img id="image-3" src="../images/portfolio/meetloaf/screens/meetloaf-screens-1@2x.png" alt="">
            </div>
            <div class="thumnail-item  col-sm-12  col-md-3  col-lg-4">
                <img id="image-4" src="../images/portfolio/meetloaf/screens/meetloaf-screens-13@2x.png" alt="">
            </div>
            <div class="thumnail-item  col-sm-12  col-md-3  col-lg-4">
                <img id="image-5" src="../images/portfolio/meetloaf/screens/meetloaf-screens-2@2x.png" alt="">
            </div>
            <div class="thumnail-item  col-sm-12  col-md-3  col-lg-4">
                <img id="image-6" src="../images/portfolio/meetloaf/screens/meetloaf-screens-14@2x.png" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>


    <section>
      <div class="row justify-content-md-center mb-96">
        <div class="col-md-12 col-lg-6 text-center">
          <h4>Thanks!</h4>
          <p>
            That's it for now, the ride on the time machine has ended. Thank you for joining me, and I would love to chat.
          </p>
          <p>
            <a href="mailto:donahue.ian@gmail.com?subject=Dave Case Study" class="strong">Drop me an email!</a>
          </p>
        </div>
      </div>
    </section>

  </div>
</section>


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0"></section>
<!-- /portfolio -->

{{ end }}
