{{ define "main" }}

<!-- page title -->
<section class="page-title page-title-meetloaf position-relative overflow-hidden pt-0 pb-0">
  <div class="container bg-meetloaf ">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-6">
        <h1 class="text-white font-tertiary">Meetloaf brings people together</h1>
        <p>
          <a href="https://dave.com" target="_blank">Dave</a> is a start-up Unicorn with over +5 million users. Dave is “Banking for Humans.” For $1-a-month, Dave offers users checking accounts with no minimums or overdraft fees; automated budgeting; cash advances of up to $100; and the ability to build up their credit scores
        </p>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- <div class="hero meetloaf"></div> -->

<div class="section case-study-section pt-0">
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container">
      <div class="meta-item">
        <div class="label">
          Client
        </div>
        <div class="value">
          Venn
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          Product Design
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Responsabilities
        </div>
        <div class="value">
          Design <br>
          User Testing
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          UX Design <br>
          Design System
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Team
        </div>

        <div class="value">
          <a href="https://www.linkedin.com/in/timjgiblin/" target="_blank" title="Tim Gilbin" alt="Tim Gilbin Linkedin">Tim G.</a> &mdash; Engineer<br>
          <a href="https://www.linkedin.com/in/steffanhowey/" target="_blank" title="Steffan Howey" alt="Steffan Howey Linkedin">Steffan H.</a> &mdash; :-)<br>
          <a href="../index.html" target="_blank" title="Ian Donahue" alt="Ian Donahue Portfolio">Ian D.</a> &mdash; Design<br>
        </div>
      </div>

    </div>
    <!-- /Case Study Meta Data -->

    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-8 offset-lg-4">

          <h2>Meetloaf</h2>
          <p>Venn • 2014</p>

          <div class="alert alert-info mt-64 mb-64" role="alert">
            <div class="flexbox">
              <div class="icon"></div>
              <div class="message">
                <b>Howdy!</b>
                <p>
                  Case study is under construction. Please check back soon.
                </p>
              </div>
            </div>
          </div>

          <h3>Company</h3>
          <p>
            <a href="https://dave.com" target="_blank">Dave</a> has a start-up Unicorn with over +5 million users. Dave is “Banking for Humans.” For $1-a-month, Dave offers users checking accounts with no minimums or overdraft fees; automated budgeting; cash advances of up to $100; and the ability to build up their credit scores
          </p>

          <h3>Problem</h3>
          <p>
            Dave was introducing Dave Banking to all users. This required a unified Customer Support (CS) process, flow and workspace which didn’t exist. Many support tickets required 3rd party tools, multiple internal tools and wiki’s to help trouble shoot customer issues. It was common for a CS agent to have more than 10 browser windows open at any given time to assist a end user.
          </p>
          <p>
            Furthermore, we needed to identify which support tasks could added to the mobile application.
          </p>

          <h3>My Role</h3>
          <p>
            Product designer tasked with creating a single, unified workspace for CS team members. It was one of those “One ring to rule them all” type situations. The product manager and I interviewed the CS team so we could design a workspace for them. Finally, to support the CS team, engineers, and product managers, it was important to create a design system that could scale.
          </p>

          <h3>Results</h3>
          <p>
            After 6 months, the CS workspace v1.0 was designed and engineers, the design system was implemented and the CS workspace was in full use. It was also now possible for product managers and engineers to work though feature tickets without needing every screen to be designed thanks to the new design system. I provided "design reviews" for new features but much of my time would continue by evaluating existing design system paradigms, gathering feedback from CS Agents, and solving new solutions to those pain points.
          </p>

          <h3>Challanges</h3>
          <p>
            Product designer tasked with creating a single, unified workspace for CS team members. It was one of those “One ring to rule them all” type situations. The product manager and I interviewed the CS team so we could design a workspace for them. Finally, to support the CS team, engineers, and product managers, it was important to create a design system that could scale.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-white pt-96">
  <div class="container">
    <div class="row justify-content-md-center pb-64">
      <div class="col-md-12 col-lg-6">
        <h2 class="text-center">Preview</h2>
        <p class="text-center">
          Due to NDA, there is very little I can share at this time. Here are some features that I explored while at Dave.
        </p>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-6 align-self-center">
        <h4 class="text-center">Dave web design system</h4>
        <p class="text-center">
Implementation of the Dave Design System in the CS workspace. Designed to provide clear interactions and high level of usability. CS Design System were inspired to have similar interactions to the Dave mobile app.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <img class="shadow" src="../images/portfolio/dave/dave-screen-preview.png" alt="" width="100%">
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-6 align-self-center">
        <h4 class="text-center">Better designed tables</h4>
        <p class="text-center">
          Tables get a bad rap! After user testing, it was discovered a well designed table communicated information more clearly than all other design explored.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="content-image">
          <img class="shadow" src="../images/portfolio/dave/dave-table.png" alt="" style="max-width: 736px; width: 100%;">
        </div>
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-6 align-self-center">
        <h4 class="text-center">Side Nav</h4>
        <p class="text-center">
          Quick navigation provides faster customer support. Clicking an icon jumps to the appropriate section of the page. Navigation icons can re-organized and the pages content re-organizes to match.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="content-image">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <img class="" src="../images/portfolio/dave/dave-dragable-nav.png" alt="" style="width: 424px">
              <div class="caption text-center">
                Organize the page by re-organizing the side nav icons
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <img class="" src="../images/portfolio/dave/dave-dragable-wireframe.png" alt="" style="width: 401px">
              <div class="caption text-center">
                Quick wireframe for communicating with PM and engineering
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-6 align-self-center">
        <h4 class="text-center">Model Designs</h4>
        <p class="text-center">
          Modals show less frequently needed, but more detailed information. This include JSON objects, permission controls, warnings, etc. It was a goal to add a bit of “Dave” delight whenever possible.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="content-image">
          <img class="" src="../images/portfolio/dave/dave-modals.png" alt="" style="width: 100%;">
        </div>
      </div>
    </div>


    <div class="row justify-content-md-center mb-96">
      <div class="col-md-12 col-lg-6 text-center">
        <h4>Thanks!</h4>
        <p>
          That's it for now, the ride on the time machine has ended. Thank you for joining me, and I would love to chat.
        </p>
        <p>
          <a href="mailto:donahue.ian@gmail.com?subject=Dave Case Study" class="strong">Drop me an email!</a>
        </p>
      </div>
    </div>

  </div>
</section>


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0">


</section>
<!-- /portfolio -->

{{ end }}
