
{{ define "main" }}

<!-- page title -->
<!-- {{ partial "hero.html" . }} -->
<!-- /page title -->

<div class="spacer-cv">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-12 col-lg-6">
          <h2 class="header pb-16">
            Biography
          </h2>
          <p>
            Interdisciplinary Product Designer and former startup cofounder. Previously at a Senior Product Designer at <a href="https://www.shopify.com/">Shopify</a>, Director of Design at <a href="https://qunomedical.com/" target="_blank">Qunomedical</a> and Senioir Product Designer building workspaces tools at <a href="https://dave.com">Dave</a> and <a href="https://ubermedia.com">UberMedia</a>. Co-founded a startup which exited in 2017. A bunch of other fun companies and projects before that.
          </p>
          <p>
            I focus on making complex workflows simple, effective, while adding a bit of delight. Also, I've been developing front-ends platforms since 2013. I have worked on go to market strategies, wire-framing, flows, lo-fi, hi-fi, prototyping and followed it up with validation and testing. Currently studying German language, I’ll never stop learning. Schön Tag!
          </p>
      </div>
    </div>
  </div>
</div>

<!-- cv -->
<section class="section section-cv">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-12 col-lg-6">
        <div class="intro">
          <div class="flexbox justify-content-between center">
            <h3 class="mt-0">Experience</h3>
            <a class="button button-invert" target="_blank" href="https://www.linkedin.com/in/ianmdonahue/">
              View More
            </a>
          </div>
          <p class="pt-16 pl-0 pr-0">
            I have +10 years of design experience with a background in UX, UI, and front-end development. Along the way I founded and sold a company too.
          </p>
        </div>

        {{ if .Site.Data.about.cv_experience.enable }}
        {{ with .Site.Data.about.cv_experience }}
          {{ range .item }}
          <div class="job">
            <div class="job-details">
              <div class="primary">
                {{ .title }}
              </div>
              <div class="job-overview">
                <div class="secondary">
                  {{ .company }}
                </div>
                <div class="date-range">
                  {{ .duration }}
                </div>

              </div>
            </div>
            {{ if eq .case_study true}}
            <div class="link-overlay">
              <a class="button" href="{{ .case_study_url }}">
                View Case Study
              </a>
            </div>
            {{ end }}
            <!-- <div class="job-description"></div> -->
          </div>
          {{ end }}
        {{ end }}
        {{ end }}
        <div class="link-linkedin">
          <a class="button button-invert" target="_blank" href="https://www.linkedin.com/in/ianmdonahue/">
            View All
          </a>
        </div>

        <div class="site-note">
          <p>
            About this site. I made it by hand. No templates, 3rd party services, etc. It was built with Hugo, a static site generator, HTML, CSS and javascript. It’s a playground for me to learn, play and explore. If you have questions, feel <a href="mailto:donahue.ian@gmail.com?subject=Questions">free to ask</a>.
          </p>
        </div>

      </div>
      <div class="col-md-4 col-md-offset-1">
        {{ partial "bio-stats.html" . }}
        {{ partial "bio-personal.html" . }}
      </div>
    </div>

  </div>

</section>
<!-- /cv -->

{{ end }}
