{{ define "main" }}

<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ .Title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/illustrations/page-title.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{`images/illustrations/dots-group-sm.svg`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/leaf-yellow.svg`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/leaf-orange.svg`| relURL}}" alt="illustrations" class="bg-shape-4">
  <img src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-5">
  <img src="{{`images/illustrations/leaf-cyan-lg.svg`| relURL}}" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="{{.Params.author_signature | absURL }}" alt="signature" class="img-fluid">
        <h4>{{ .Site.Params.Author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- cv -->
<section class="section section-cv">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="intro">
          <div class="flexbox space-between center">
            <h3 style="font-size: 31px">Experience</h3>
            <a class="button button-invert" target="_blank" href="https://www.linkedin.com/in/ianmdonahue/">
              View More
            </a>
          </div>
          <p class="larger pl-0 pr-0">
            I have +9 years of design experience with a background in UX, UI, and frton-end development.
          </p>
        </div>

        <div class="job">
          <div class="job-overview">
            <div class="company">
              Dave
            </div>
            <div class="date-range">
              Dec 2019 - Present
            </div>
          </div>
          <div class="job-title">
            Lead Product Designer - Remote
          </div>
          <div class="job-description">
            Helping people join the public conversation and express themselves with media-focused creation tools.
          </div>
        </div>

        <div class="job">
          <div class="job-overview">
            <div class="company">
              UberMedia
            </div>
            <div class="date-range">
              Apr 2017 - Present
            </div>
          </div>
          <div class="job-title">
            Lead Product Designer & Product Managment - Remote
          </div>
          <div class="job-description">
            Helping people join the public conversation and express themselves with media-focused creation tools.
          </div>
        </div>

        <div class="job">
          <div class="job-overview">
            <div class="company">
              Cintric <span class="note">Aquire 2017</span>
            </div>
            <div class="date-range">
              Jan 2015 - Apr 2017
            </div>
          </div>
          <div class="job-title">
            Lead Product Designer & Product Managment - Remote
          </div>
          <div class="job-description">
            Helping people join the public conversation and express themselves with media-focused creation tools.
          </div>
        </div>

        <div class="job">
          <div class="job-overview">
            <div class="company">
              CompuCom
            </div>
            <div class="date-range">
              Mar 2013 - Feb 2015
            </div>
          </div>
          <div class="job-title">
            Lead Product Designer & Product Managment - Remote
          </div>
          <div class="job-description">
            Helping people join the public conversation and express themselves with media-focused creation tools.
          </div>
        </div>

      </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="stats">
          <div class="stats-personal">
            <div class="header">
              Bio
            </div>
            <div class="stats-container">
              <div class="stat">
                <span class="label">
                  Age:
                </span>
                <span class="value">
                  Experienced...
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Born:
                </span>
                <span class="value">
                  USA
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Education:
                </span>
                <span class="value">
                  B.S. University of Cincinnati, Design - Digital Design...
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Currently:
                </span>
                <span class="value">
                  Berlin, Germany
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Languages:
                </span>
                <span class="value">
                  English (Native), German (B1)
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Interests:
                </span>
                <span class="value">
                  Dog Photography, Design, Coffee, Magic the Gathering, German Language, Web Development
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Myers Briggs:
                </span>
                <span class="value">
                  ENFP-A (today)
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Social:
                </span>
                <span class="value">
                  Twitter, Instagram, Dog
                </span>
              </div>
            </div>
          </div>

          <div class="stats-professional">

          </div>

        </div>

      </div>
    </div>
  </div>

</section>
<!-- /cv -->

<!-- Work Process -->
{{ if .Site.Data.about.work_process.enable }}
{{ with .Site.Data.about.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<!-- team -->
{{ if .Site.Data.about.team.enable }}
{{ with .Site.Data.about.team }}
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ if .Site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}
