{{ define "main" }}

<!-- page title -->
<section class="hero-section about-section bg-primary position-relative overflow-hidden" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <h1 class="primary-text text-white font-tertiary">I’m Ian,<br> Product Designer, developer & dog photographer</h1>
      </div>
    </div>
  </div>
  <div class="layer" id="l2">
    <img src="{{`images/illustrations/dots-cyan.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{`images/mao-photo/mao-3.png` | relURL}}" alt="bg-shape" width="210px" class="shadow">
  </div>
  <div class="layer" id="l4">
    <img src="{{`images/about/ian-donahue.png` | relURL}}" alt="bg-shape" width="400px" class="shadow ian">
  </div>
  <div class="layer" id="l5">
    <img src="{{`images/mao-photo/mao-1.png` | relURL}}" alt="bg-shape" width="100px" class="shadow">
  </div>
  <div class="layer" id="l6">
    <img src="{{`images/mao-photo/mao-4.png` | relURL}}" alt="bg-shape" width="200px" class="shadow">
  </div>
  <div class="layer" id="l7">
    <img src="{{`images/mao-photo/mao-5.png` | relURL}}" alt="bg-shape" width="100px" class="shadow">
  </div>
  <div class="layer" id="l8">
    <img src="{{`images/mao-photo/mao-2.png` | relURL}}" alt="bg-shape" width="220px" class="shadow">
  </div>
  <div class="layer" id="l9">
    <img src="{{`images/mao-photo/mao-6.png` | relURL}}" alt="bg-shape" width="300px" class="shadow">
  </div>
  <!-- social icon -->
  <ul class="inline-block list-unstyled ml-5 mt-3 position-relative zindex-1">
    {{ range .Site.Params.social }}
    <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
    {{ end }}
  </ul>
  <!-- /social icon -->
</section>
<!-- /page title -->

<!-- cv -->
<section class="section section-cv">
  <div class="container">
    <div class="row mb-96">
      <div class="col-md-12 col-lg-6">
        <h3 class="header">
          Biography
        </h3>
        <p>
          I'm an interdisciplinary Product Designer and former startup cofounder. I’m currently a Freelance Product Design Lead designing workspace tools at Dave and UberMedia. I focus on making complex workflows simple, effective, and delightful. Also, I build front-ends. My core skills are empathy, problem-solving, and execution. I'm blessed to have built my own company, been acquired, and learned a lot along the way. But I’ll never stop learning.
        </p>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-md-6">
        <div class="intro">
          <div class="flexbox justify-content-between center">
            <h3 class="mt-0">Experience</h3>
            <a class="button button-invert" target="_blank" href="https://www.linkedin.com/in/ianmdonahue/">
              View More
            </a>
          </div>
          <p class="larger pl-0 pr-0">
            I have +9 years of design experience with a background in UX, UI, and front-end development.
          </p>
        </div>

        {{ if .Site.Data.about.cv_experience.enable }}
        {{ with .Site.Data.about.cv_experience }}
          {{ range .item }}
          <div class="job">
            <div class="primary">
              {{ .title }}
            </div>
            <div class="job-overview">
              <div class="secondary">
                {{ .company }}
              </div>
              <div class="date-range">
                {{ .duration }}
              </div>
            </div>

            <!-- <div class="job-description"></div> -->
          </div>
          {{ end }}
        {{ end }}
        {{ end }}
        <div class="link-linkedin">
          <a class="button button-invert" target="_blank" href="https://www.linkedin.com/in/ianmdonahue/">
            View All
          </a>
        </div>

        <div class="site-note">
          <p>
            About this site. I made it by hand. No templates, 3rd party services, etc. It was built with Hugo, a static site generator, HTML, CSS and javascript. It’s a playground for me to learn, play and explore. If you have questions, feel free to ask.
          </p>
        </div>

      </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="stats-container">
          <div class="stats-personal">
            <div class="header">
              Stats
            </div>
            <div class="stats">
              <div class="stat">
                <span class="label">
                  Age:
                </span>
                <span class="value">
                  Experienced...
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Born:
                </span>
                <span class="value">
                  USA
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Education:
                </span>
                <span class="value">
                  B.S. University of Cincinnati, Design - Digital Design...
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Currently:
                </span>
                <span class="value">
                  Berlin, Germany
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Languages:
                </span>
                <span class="value">
                  English (Native), German (B1)
                </span>
              </div>
              <div class="stat">
                <span class="label">
                  Interests:
                </span>
                <span class="value">
                  Dog Photography, Design, Coffee, Magic the Gathering, German Language, Web Development
                </span>
              </div>
            </div>
          </div>

          <div class="stats-professional">

          </div>

        </div>

      </div>
    </div>
  </div>

</section>
<!-- /cv -->

{{ end }}
