{{ define "main" }}

<!-- page title -->
<section class="page-title page-title-qunomedical position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h1 class="text-white font-tertiary">A patients first medical platofrm</h1>
        <p>
          Healthcare is a human right, and beyond that, it is one of the most fundamental needs for every human being. Qunomedical wants to build the tools to enable people this right.
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- <div class="hero qunomedical">
  <div class="case-study-hero case-study-qunomedical">
  </div>
</div> -->






<div class="section case-study-section">
  <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
    <div class="">
      <h2>Qunomedical</h2>
      <p>Qunomedical • 2021</p>
    </div>
  </div>
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container row">
      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Client
        </div>
        <div class="value">
          Qunomedical
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Industry
        </div>
        <div class="Value">
          Healthcare
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          Product Design
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Responsabilities
        </div>
        <div class="value">
          Design <br>
          Qualitative Research <br>
          Quantitative Research <br>
          Patient Interviews <br>
          Remote Testing
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          UX Design <br>
          Design System
        </div>
      </div>

      <div class="meta-item col-12 col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Team
        </div>

        <div class="value">
          <a href="https://www.linkedin.com/in/caraujoigor/" target="_blank" title="Igor Araújo" alt="Igor Araújo Linkedin">Igor A.</a> &mdash; Engineering<br>
          <a href="https://www.linkedin.com/in/luisewurlitzer/" target="_blank" title="Luise Wurlitzer" alt="CLuise Wurlitzer Linkedin">Luise W.</a> &mdash; PM<br>
          <a href="https://www.qunomedical.com/en/about-us/" target="_blank" title="Qunomedical About Us" alt="Qunomedical About Us">Steve W.</a> &mdash; Engineering<br>
          <a href="https://www.linkedin.com/in/tamaspapp92/" target="_blank" title="Daniel Cueva" alt="Daniel Cueva Linkedin">Tamas P.</a> &mdash; PM<br>
          <a href="../index.html" target="_blank" title="Ian Donahue" alt="Ian Donahue Portfolio">Ian D.</a> &mdash; Design<br>
        </div>
      </div>

    </div>
    <!-- /Case Study Meta Data -->

    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-8 offset-lg-4">

          <div class="d-none d-sm-none d-md-block">
            <h2>Qunomedical</h2>
            <p>Qunomedical • 2020 – Present</p>
          </div>

          <div class="alert alert-info mt-64 mb-64" role="alert">
            <div class="flexbox">
              <div class="icon"></div>
              <div class="message">
                <b>There's a lot more to see!</b>
                <p>
                  UX flows, wireframes, user reserach, and sitemaps available upon request.
                </p>
              </div>
            </div>
          </div>

          <h3>Company</h3>
          <p>
            At <a href="https://qunomedical.com" target="_blank">Qunomedical</a>, we believe healthcare is a Human Right, and beyond that, it is one of the most fundamental needs for every human being.
          </p>
          <p>
            The right to healthcare includes access to timely, acceptable, and affordable health care of appropriate quality.
          </p>
          <p>
            Today, anyone can travel almost anywhere within 24 hours if need be. However, an overwhelmingly large number of patients are not accessing the best affordable care that might be available elsewhere in the world – and the patients who do are either wealthy or depend on their own judgment to find the right care in the right place.
          </p>
          <p>
            We have signed up to change this. We want to empower patients to get access to the best possible care they deserve and can afford.
          </p>

          <h3>Problem</h3>
          <p>
            Medical care is complicated. Period. Making informed decisions, affordable and understanding prices, finding qualified doctors, and not having to wait months or even years for treatment are just a few of the problems patients face when getting treatment. Qunomedical wants to bring the human touch back to medical care. Qunomedical offers a 1-on-1 experience to patients by leveraging a dedicated Patient Manager and technology to scare the business.
          </p>

          <h3>My Role</h3>
          <p>
            Qunomedical has operated for over 5 years but never had a "Designer at the table" at the executive level. As <strong>Director of Design</strong>, I reported directly to the CEO, the focus was being the voice of the patient and designing the best patient journey possible. Beyond product design, I focused on scaling our design systems, implementing design operations for the existing teams, and creating a unified branding and design language.
          </p>

          <p>
            Day to day, I worked on individual products as well as building a global system. I also pushed the design agenda and priorities in quarterly and yearly planning.
          </p>

          <h3>Our Patients, our users</h3>
          <p>
            <a href="https://qunomedical.com/" target="_blank">Qunomedical</a> has supported over 10,000 patients through their healthcare journies. Patients treaments include several medical treatment verticals including but not limited to, dental, cosmetic surgery, hair restoration, in-vitro fertilization, gender affirmation surgery, and any other elective surgeries.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-white pt-96">
  <div class="container">

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Die Anatomie</h3>
        <p class="text-left">
          Qunomedical's design team was split between different departments including product interfaces, performance marketing, social media, and video assets. There was no single owner of the design system and we lacked a single source of truth.
        </p>
        <p class="text-left">
          My initial task at Qunomedical was to start developing a single library (Die Anatomie) which all teams members could use to create consistent experiences for patients.
        </p>
        <p class="text-left">
          We like to know we are building useful knobs and levers for non-design team members to use, each one able to control and slightly alter visual components in one way or another.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-1-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-2-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-3-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-4-tinified.png" alt="" style="max-width: 736px; width: 100%;">
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Treatment Location Pages</h3>
        <p class="text-left">
          Medical travel over the years has become common and many countries and cities are known for specializing in different treatments. Dental work in Croatia, gender affirmation surgery in Mexico, hair restoration surgery in Turkey. Medical travel isn't just about the time a patient spends in the clinic, it is about the whole journey. Why not offer patients a truly unique experience at scale? Why shouldn't patients combine the best of leisure travel and medical treatments? Treatment location pages served as a way to allow Patient Managers to offer recommendations of delightful places outside of the clinic.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-1@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Overview
              </div>
            </div>
          </a>
          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-2@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Key Information
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-3@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Highlights of location
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-4@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Exploration Map
              </div>
            </div>
          </a>
        </div>
        <!-- <div class="container">
          <p class="col-xm-12 text-center">
            <a class="" href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">View Figma Document</a>
          </p>
        </div> -->
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Patient Booking</h3>
        <p>
          Qunomedical was able to service its patients quickly and with highly rated customer care, but scaling the business required digitalization. We could keep throwing more and more Patient Care Managers to support the growth but that wouldn't be scaleable. So we began a full move to digitization.
        </p>
        <h5 class="text-left">Quotes</h5>
        <p class="text-left">
          Qunomedical was able to service its patients quickly and with highly rated customer care, but scaling the business required digitalization. We could keep throwing more and more Patient Care Managers to support the growth but that wouldn't be scaleable.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-1@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Overview
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-2@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Important links
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-3@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Clinic Quote
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-4@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Clinic Schedule
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h5 class="text-left">Medical Forms</h5>
        <p class="text-left">
          Before any Patient can finalize a quote or book their treatment, our team of Patient Managers needs to review Patient submitted photos and get a full medical history. Prior to Qunomedical's platform, Patients and Patient Managers coordinated sending photos with any number of different, unmanaged systems included email, WhatsApp, and Dropbox links. With the new platform, we made it a mobile-first, easy, and quick way to submit photos. We also converted our old medical form system into an easy, multi-click form. Once received, Patient Managers can review in Salesforce and approve in seconds instead of minutes.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">


          <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">
            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-1@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Text Block example
                </div>
              </div>
            </a>

            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-2@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Date Picker
                </div>
              </div>
            </a>

            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-3@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Radio Options
                </div>
              </div>
            </a>

            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-4@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Multiple Choice Options
                </div>
              </div>
            </a>
          </div>

      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h5 class="text-left">Post Booking</h5>
        <p class="text-left">
          Our initial phase of booking was the "post-booking" portion of Qunomedical's digitization phase. Releasing Post Booking first, allowed Qunomedical's Patient Managers to focus on new patients, discussing treatments with existing patients, and troubleshooting emergency issues with patients. Post Booking allowed patients to manage their treatment, find questions to the answers, and review their travel details using the new Qunomedical Platform.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=21%3A23" target="_blank">

          <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-1@2x-tinified.png" alt="" width="100%">
            </div>
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-2@2x-tinified.png" alt="" width="100%">
            </div>
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-3@2x-tinified.png" alt="" width="100%">
            </div>
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-4@2x-tinified.png" alt="" width="100%">
            </div>
          </div>
        </a>
      </div>
    </div>


    <div class="row justify-content-md-center mb-96">
      <div class="col-md-12 col-lg-6 text-center">
        <h4>Thanks!</h4>
        <p>
          That's it for now, the ride on the time machine has ended. Thank you for joining me, and I would love to chat.
        </p>
        <p>
          <a href="mailto:donahue.ian@gmail.com?subject=Dave Case Study" class="strong">Drop me an email!</a>
        </p>
      </div>
    </div>

  </div>
</section>


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0">


</section>
<!-- /portfolio -->

{{ end }}
