<div class="stats-container">
  <div class="stats-personal">
    <div class="header">
      Skills
    </div>
    <div class="stats">
      <div class="stat">
        <div class="label">
          Product Design (UX, UI, etc.):
        </div>
        <div class="bar-container value-80">
          <div class="background"></div>
          <div class="value"></div>
        </div>
      </div>

      <div class="stat">
        <div class="label">
          Prototyping:
        </div>
        <div class="bar-container value-70">
          <div class="background"></div>
          <div class="value"></div>
        </div>
      </div>

      <div class="stat">
        <div class="label">
          User Testing:
        </div>
        <div class="bar-container value-50">
          <div class="background"></div>
          <div class="value"></div>
        </div>
      </div>

      <div class="stat">
        <div class="label">
          UX Writing:
        </div>
        <div class="bar-container value-50">
          <div class="background"></div>
          <div class="value"></div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="stats-professional">

  </div>

</div>
