<h4>Long Biography</h4>
<p>
  <b>2004</b><br>
  I studied history and psychology from 2004-2006 in University but that all changed when I walked through the DAAP build at the University of Cincinnati. I saw students building interactive experiences, websites and motion graphics on their Apple Laptops. From that moment on, I knew that I wanted to be a digital designer. I quit history and psychology degree and transferred to the Digital Design program.
</p>
<p>
  <b>2006</b><br>
  I started designing in 2006 and writing HTML, CSS and JS in 2007.
</p>
<p>
  <b>2011</b><br>
  I earned a Bachelors of Science in Design at the University of Cincinnati in 2011. Since graduating my professional experience has ranged from e-commerce, agency work, consultancy, fintech, internal innovation teams, startups and for a moment, an Adjunct design instructor.
</p>
<p>
  <b>2014</b><br>
  In 2014 I dove into the startup world and by 2015 my company raised venture capital from a variety of institutions including strategic, venture capital, and notable angel investors. In 2017, my company was acquired by UberMedia.
</p>
<p>
  <b>2017</b><br>
  Since then I've been working with UberMedia as the Lead Product Designer. I've lead teams at new products to market (Vista Measurement) and worked on various other projects at UberMedia.
</p>
<p>
  <b>2019</b><br>
  In 2019 decided to split my time between UberMedia and Dave. I have a passion for financial products and how they can be made better for their users. Dave was an amazing opportunity to built products how they should be.
</p>
