{{ define "main" }}

<!-- page title -->
<section class="page-title page-title-design-system position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h1 class="text-white font-tertiary">The Anatomy of a Design System</h1>
        <!-- <p>
         Healthcare is a human right and one of the most fundamental needs for every human being. Qunomedical is building tools to enable people access to affordable, modern treatments.
        </p> -->
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
<!-- /page title -->


<div class="section case-study-section">
  <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
    <div class="">
      <h2>Qunomedical</h2>
      <p>Qunomedical • 2020-2022</p>
    </div>
  </div>
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container row">
      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Client
        </div>
        <div class="value">
          Qunomedical
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Industry
        </div>
        <div class="Value">
          Healthcare
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          Product Design
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Responsibilities
        </div>
        <div class="value">
          Design <br>
          Development
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          Design System
        </div>
      </div>

      <div class="meta-item col-12 col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Team
        </div>

        <div class="value">
          <a href="https://www.qunomedical.com/en/about-us/" target="_blank" title="Qunomedical About Us" alt="Qunomedical About Us">Steve W.</a> &mdash; Engineering<br>
          <a href="../index.html" target="_blank" title="Ian Donahue" alt="Ian Donahue Portfolio">Ian D.</a> &mdash; Design<br>
        </div>
      </div>

    </div>
    <!-- /Case Study Meta Data -->

    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-8 offset-lg-4">

          <div class="d-none d-sm-none d-md-block">
            <h2>Die Anatomie, a design system</h2>
            <p>Qunomedical • 2020 – 2022</p>
          </div>

          <div class="alert alert-info mt-64 mb-64" role="alert">
            <div class="flexbox">
              <div class="icon"></div>
              <div class="message">
                <b>There's a lot more to see!</b>
                <p>
                  UX flows, wireframes, user research, and sitemaps available upon request.
                </p>
              </div>
            </div>
          </div>

          <h3>Company</h3>
          <p>
            The right to healthcare includes access to timely, acceptable, and affordable health care of appropriate quality.
          </p>

          <h3>Problem</h3>
          <p>
            Medical care is complicated. Period.
          </p>

          <h3>My Role</h3>
          <p>
            As head of design and product design, my job was to enable the team to work fast and limit confusion and error. Before my joining, Qunomedical had a number of different designers over their 5 years of existence. Each designer had their own style and opinion on visual treatments. This led to a lot of inconsistencies in the product. My job was to support the product manager while also creating and growing was to create a design system that would allow the team to work fast and limit confusion and error.
          </p>


          <h3>RESEARCH</h3>

          <p>
            To tackle the creation of a Design System for a complex and continually evolving series web experiences. I had worked on and developed numerous design systems, but not from a company with some much legacy interfaces. I read articles in the past and new many of the best practices, but never built one that would be leveraged by multiple teams, developers or product managers. I leaned strongly into the Atomic model and also best practices by comapnies like Shopify - Polaris.  (For your convenience, I've included a list of resources at the end of this page of resources I leverged even to this day.)
          </p>

          <h3>INVENTORY</h3>

          <p>
            With the rough strategy of, "most inconsistant elements first" followed by "most reused elements" following, I got started. I took an inventory every UI element and screen within Qunomedical's platform.
          </p>
          <p>
          </p>
            I screenshots of every page, modal, menu, and element in the web app and added the screenshots to Figma pages. I believe in working faster and not harder, so I didn't re-create anything until after we had a feel of the most inconsistent elements. Though it was buttons, inputs, and colors.
          </p>

          <h3>AUDIT</h3>

          <p>
            Once I believed I had cataloged every button, icon, and design pattern, I organized them into categories. A side-by-side examination revealed the pressing need for a design system. There were numerous button styles, inconsistent font weights, and scattered single-use icons.
          </p>

          <h3>EDIT</h3>

          <p>
            This proved to be the most time-consuming part of the project. I had to make decisions regarding naming conventions, categorization, organization, and presentation. Much effort went into naming and re-naming my Sketch layers and organizing the symbols page. (Pro tip: Consider using Sketch plugins designed for these tasks.)
          </p>

          <h3>EVOLVE</h3>

          <p>
            Design Systems, by their very nature, are dynamic living things. I established regular reminders to update, review, and share the style guide. This ongoing process ensures that the design system remains relevant and effective.
          </p>








<h3>
  RESULTS
</h3>

<p>
  As I mentioned in the introduction, my design process was slow, arduous, and unproductive. Working within an Agile team, I struggled to maintain agility. Initially, proposing the creation of a design system was met with skepticism and resistance. However, over time, we gained the necessary support.
</p>

<h4>
  Benefits:
</h4>
<p>The advantages of implementing a design system were significant:</p>

<ul>
  <li>Time-saving: We streamlined our workflow and reduced repetitive tasks.</li>
  <li>UI consistency: Our design system helped us maintain a cohesive and trustworthy brand image.</li>
  <li>Reducing complexity and ambiguity: It clarified design elements and improved user experience.</li>
  <li>Collaboration and consensus: The design system fostered better teamwork and decision-making.</li>
  <li>Foundation for improvement: It served as a solid basis for continuous enhancement.</li>
  <li>In summary, we believed that a design system would make us more efficient and effective.</li>
</ul>

For a comprehensive list of benefits, you can refer to resources available on organizing design systems.

<h4>
  Results:
</h4>
<p>
  Creating an inventory of UI elements proved to be the most time-consuming phase, next to the editing process. Some of the challenges I encountered included:
</p>

Organizing elements effectively.
Establishing consistent naming conventions.
Capturing different states and interactions.
Monitoring progress and updates.
Creating dynamic, nested symbols for reusability.
Adhering to Atomic Design Principles.
Maintaining focus and motivation.

<p>
  I also experienced a significant setback when my computer crashed, resulting in the loss of several hours of work. This incident prompted me to adopt a more proactive approach, committing to frequent backups and version control for our design files."
</p>










        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-white pt-96">
  <div class="container">

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Treatment Location Pages</h3>
        <p class="text-left">
          This is my favorite project so far at Qunomedical. While making it, it made me realize, Patients are humans and humans love to travel. Especially once COVID-19 is a little bit more under control and traveling begins to go back to normal.
        </p>
        <p>
          Medical travel over the years has become common and many countries and cities are known for specializing in different treatments. Dental work in Croatia, gender affirmation surgery in Mexico, hair restoration surgery in Turkey. Medical travel isn't just about the time a patient spends in the clinic, it is about the whole journey. Why not offer patients a truly unique experience at scale? Why shouldn't patients combine the best of leisure travel and medical treatments? Treatment location pages served as a way to allow Patient Managers to offer recommendations of delightful places outside of the clinic.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-1@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Overview
              </div>
            </div>
          </a>
          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-2@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Key Information
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-3@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Highlights of location
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/treatment-location-page/qunomedical-treatment-location-page-4@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Exploration Map
              </div>
            </div>
          </a>
        </div>
        <!-- <div class="container">
          <p class="col-xm-12 text-center">
            <a class="" href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">View Figma Document</a>
          </p>
        </div> -->
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Patient Booking</h3>
        <p>
          Qunomedical was able to service its patients quickly and with highly rated customer care, but scaling the business required digitalization. We could keep throwing more and more Patient Care Managers to support the growth but that wouldn't be scalable. So we began a full move to digitization.
        </p>
        <h5 class="text-left">Quotes</h5>
        <p class="text-left">
          Qunomedical was able to service its patients quickly and with highly rated customer care, but scaling the business required digitalization. We could keep throwing more and more Patient Care Managers to support the growth but that wouldn't be scalable.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-1@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Overview
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-2@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Important links
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-3@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Clinic Quote
              </div>
            </div>
          </a>

          <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A22" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/quotes/qunomedical-quotes-4@2x-tinified.png" alt="" width="100%">
              <div class="caption text-center">
                Clinic Schedule
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h5 class="text-left">Medical Forms & Patient Photos</h5>
        <p class="text-left">
          Before any Patient can finalize a quote or book their treatment, our team of Patient Managers needs to review Patient submitted photos and get a full medical history. Before Qunomedical's platform, Patients and Patient Managers coordinated sending photos with any number of different, unmanaged systems included email, WhatsApp, and Dropbox links. With the new platform, we made it a mobile-first, easy, and quick way to submit photos. We also converted our old medical form system into an easy, multi-click form. Once received, Patient Managers can review in Salesforce and approve in seconds instead of minutes.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">


          <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">
            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-1@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Text Block example
                </div>
              </div>
            </a>

            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-2@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Date Picker
                </div>
              </div>
            </a>

            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-3@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Radio Options
                </div>
              </div>
            </a>

            <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=12%3A21" target="_blank">
              <div class="">
                <img class="shadow mobile-device" src="../images/portfolio/qunomedical/medical-survey/qunomedical-medical-survey-4@2x-tinified.png" alt="" width="100%">
                <div class="caption text-center">
                  Multiple Choice Options
                </div>
              </div>
            </a>
          </div>

      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h5 class="text-left">Post Booking</h5>
        <p class="text-left">
          Our initial phase of booking was the "post-booking" portion of Qunomedical's digitization phase. Releasing Post Booking first, allowed Qunomedical's Patient Managers to focus on new patients, discussing treatments with existing patients, and troubleshooting emergency issues with patients. Post Booking allowed patients to manage their treatment, find questions to the answers, and review their travel details using the new Qunomedical Platform.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <a href="https://www.figma.com/file/lWtGc9aU0sdoZCld3NTPtJ/Ian-Donahue---Portfolio---Qunomedical?node-id=21%3A23" target="_blank">

          <div class="container" style="display: flex; flex-grow: 1; gap: 20px;">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-1@2x-tinified.png" alt="" width="100%">
            </div>
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-2@2x-tinified.png" alt="" width="100%">
            </div>
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-3@2x-tinified.png" alt="" width="100%">
            </div>
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/qunomedical/post-booking/quonmedical-post-booking-4@2x-tinified.png" alt="" width="100%">
            </div>
          </div>
        </a>
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Die Anatomie</h3>
        <p class="text-left">
          Qunomedical's design team was split between different departments and deliverables including interfaces, marketing landing pages, social media posts, promotional videos, patient documents, and much more. There was no single owner of the design system and we lacked a single source of truth.
        </p>
        <p class="text-left">
          My initiative at Qunomedical was to start developing a single design system, Die Anatomie. Die Anatomie, or Anatomie, ended up allowing all teams members to use to create consistent experiences for patients. Ranges of projects crossed all departments of Qunomedical. Die Anatomie was based on Brand Foster's Atomic Design principles and methodologies.
        </p>
        <p class="text-left">
          We like to know we are building useful cells (Atoms) and organs (Organisms) for non-design team members to use, each one able to control and slightly alter visual components in one way or another.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-1-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-2-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-3-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-4-tinified.png" alt="" style="max-width: 736px; width: 100%;">
      </div>
    </div>


    <div class="row justify-content-md-center mb-96">
      <div class="col-md-12 col-lg-6 text-center">
        <h4>Thanks!</h4>
        <p>
          That's it for now, the ride on the time machine has ended. Thank you for joining me, and I would love to chat.
        </p>
        <p>
          <a href="mailto:donahue.ian@gmail.com?subject=Dave Case Study" class="strong">Drop me an email!</a>
        </p>
      </div>
    </div>

  </div>
</section>


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0">


</section>
<!-- /portfolio -->

{{ end }}
