{{ define "main" }}

<!-- page title -->
<section class="page-title page-title-design-system bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h1 class="text-white font-tertiary">The Anatomy of a Design System</h1>
        <p>
          Die Anatomie, meaning "the anatomy" in Germany, is the design system for Qunomedical, a Berlin based medical startup. The name seems more than fitting. It as the structures of building our product.
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
<!-- /page title -->


<div class="section case-study-section">
  <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
    <div class="">
      <h2>Qunomedical</h2>
      <p>Qunomedical • 2020-2022</p>
    </div>
  </div>
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container row">
      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Client
        </div>
        <div class="value">
          Qunomedical
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Industry
        </div>
        <div class="Value">
          Healthcare
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          Product Design
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Responsibilities
        </div>
        <div class="value">
          Design <br>
          Development
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          Design System
        </div>
      </div>

      <div class="meta-item col-12 col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Team
        </div>

        <div class="value">
          <a href="https://www.qunomedical.com/en/about-us/" target="_blank" title="Qunomedical About Us" alt="Qunomedical About Us">Steve W.</a> &mdash; Engineering<br>
          <a href="../index.html" target="_blank" title="Ian Donahue" alt="Ian Donahue Portfolio">Ian D.</a> &mdash; Design<br>
        </div>
      </div>

    </div>
    <!-- /Case Study Meta Data -->

    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-8 offset-lg-4">

          <div class="d-none d-sm-none d-md-block">
            <h2>Die Anatomie</h2>
            <p>Qunomedical • 2020</p>
          </div>

          <div class="alert alert-info mt-64 mb-64" role="alert">
            <div class="flexbox">
              <div class="icon"></div>
              <div class="message">
                <b>There's a lot more to see!</b>
                <p>
                  UX flows, wireframes, user research, and sitemaps available upon request.
                </p>
              </div>
            </div>
          </div>

          <h3>
            Company
          </h3>
          <p>
            Qunomedical is a Berlin based medical startup. Qunomedical is a digital health platform that connects patients with doctors and hospitals worldwide.
          </p>

          <h3>
            Problem
          </h3>
          <p>
            We lacked consistency and quality in our product. Wording, UI, colors, buttons, text styles, etc. were out of sync and based on a past designers and their preferences and goals. A design system built with react and based on a single Figma file would fix this. The goal: To make it easier for designers and developers to build products. If it fails at this, you need to change it.
          </p>

          <h3>Goals</h3>

          <ul>
            <li class="mb-2">To make it easier for designers and developers to build products. </li>
            <li class="mb-2">Create a Design System that reflects Qunomedical branding, make it scalable in order to accommodate brand, product, component, and ensure all teams at Qunomedical can make effective usage of it. Help maintain consistency, be effective, scalable and improve collaboration.</li>
            <li class="mb-2">Create documentation where everyone can find the official and foundational resources, principles, assets and other resources.</li>
            <li class="mb-2">Overall, the design system will help Qunomedical establish a more efficient and effective design process, resulting in better user experiences and a stronger brand identity. Given that Qunomedical serves people across different countries and cultures, this is especially critical.</li>
          </ul>


          <h3>
            My Role
          </h3>
          <p>
            I strive to support the business, patients, and product team (PMs and Engineers). To do this I needed to build a reusable system of design patterns, components, and documentation guidelines.  
          </p>

          <h3>
            Context
          </h3>
          <p>
            I've worked on and developed numerous design systems, but not from a company with some much legacy interfaces and experiences. I knew many of the best practices, but never built one that would be leveraged by multiple teams, developers or product managers. I leaned strongly into the <a href="https://atomicdesign.bradfrost.com/table-of-contents/" target="_blank">Atomic Design Model</a> and also best practices from companies like Shopify (<a href="https://polaris.shopify.com/" target="_blank">Polaris Design System</a>).
          </p>
          <!-- <p>
            For your convenience, I've included a list of resources at the end of this page of resources I leverged even to this day.
          </p> -->

          <h4>What did I inherit?</h4>

          <h4>Where it started</h4>
          <p>
            With the rough strategy of, "most reused elements first" followed by "multi-page elements" following, I got started auditing
          </p>
          <p>
          </p>
            I screenshots of every page, modal, menu, and element in the web app and added the screenshots to Figma pages. I believe in working faster and not harder, so I didn't re-create anything until after we had a feel of the most inconsistent elements. Though it was buttons, inputs, and colors.
          </p>

          <h4>Tokens</h4>
          <ol>
            <li>Colors</li>
            <li>Spacing</li>
            <li>Text Styles</li>
          </ol>

          <h4>Components</h4>
          <ol>
            <li>Buttons</li>
            <li>Inputs</li>
            <li>Icons</li>
            <li>Modals</li>
            <li>etc...</li>
          </ol>

          <div class="row">
            <div class="content-image col-md-12" >
              <div class="container" style="display: flex; flex-grow: 1; gap: 20px; ">
                
                  <div class="">
                    <img class="shadow mobile-device" src="../images/portfolio/design-system/examples/audit-buttons-before.jpg" alt="" width="100%">
                    <div class="caption text-center">
                      Previous button versions and states
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <h4>Audit</h4>

          <p>
            Once I believed I had cataloged every button, icon, and design pattern, I organized them into categories. A side-by-side examination revealed the pressing need for a design system. There were numerous button styles, inconsistent font weights, and scattered single-use icons.
          </p>



          <h4>
            Edit
          </h4>

          <p>
            This proved to be the most time-consuming part of the project. I had to make decisions regarding naming conventions, categorization, organization, and presentation. Much effort went into naming and re-naming my Sketch layers and organizing the symbols page. (Pro tip: Consider using Sketch plugins designed for these tasks.)
          </p>

          <h4>
            Continuous evolution
          </h4>

          <p>
            Design Systems, by their very nature, are dynamic living things. I established regular reminders to update, review, and share the style guide. This ongoing process ensures that the design system remains relevant and effective.
          </p>










          <h3>
            Results
          </h3>

          <p>
            As I mentioned in the introduction, my design process was slow, arduous, and unproductive. Working within an Agile team, I struggled to maintain agility. Initially, proposing the creation of a design system was met with skepticism and resistance. However, over time, we gained the necessary support.
          </p>

          <h5>
            Benefits:
          </h5>
          <p>The advantages of implementing a design system were significant:</p>

          <ul>
            <li>Time-saving: We streamlined our workflow and reduced repetitive tasks.</li>
            <li>UI consistency: Our design system helped us maintain a cohesive and trustworthy brand image.</li>
            <li>Reducing complexity and ambiguity: It clarified design elements and improved user experience.</li>
            <li>Collaboration and consensus: The design system fostered better teamwork and decision-making.</li>
            <li>Foundation for improvement: It served as a solid basis for continuous enhancement.</li>
            <li>In summary, we believed that a design system would make us more efficient and effective.</li>
          </ul>

          For a comprehensive list of benefits, you can refer to resources available on organizing design systems.

          <h5>
            Results:
          </h5>
          <p>
            Creating an inventory of UI elements proved to be the most time-consuming phase, next to the editing process. Some of the challenges I encountered included:
          </p>


          <p>
            Organizing elements effectively.
          </p>
          <ul>
            <li>Establishing consistent naming conventions.</li>
            <li>Capturing different states and interactions.</li>
            <li>Monitoring progress and updates.</li>
            <li>Creating dynamic, nested symbols for reusability.</li>
            <li>Adhering to Atomic Design Principles.</li>
            <li>Maintaining focus and motivation.</li>
          </ul>

          <p>
            I also experienced a significant setback when my computer crashed, resulting in the loss of several hours of work. This incident prompted me to adopt a more proactive approach, committing to frequent backups and version control for our design files."
          </p>










        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-white pt-96">
  <div class="container">


    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Die Anatomie - Preview</h3>
        <p class="text-left">
          Qunomedical's design team was split between different departments and deliverables including interfaces, marketing landing pages, social media posts, promotional videos, patient documents, and much more. There was no single owner of the design system and we lacked a single source of truth.
        </p>
        <p class="text-left">
          My initiative at Qunomedical was to start developing a single design system, Die Anatomie. Die Anatomie, or Anatomie, ended up allowing all teams members to use to create consistent experiences for patients. Ranges of projects crossed all departments of Qunomedical. Die Anatomie was based on Brand Foster's Atomic Design principles and methodologies.
        </p>
        <p class="text-left">
          We like to know we are building useful cells (Atoms) and organs (Organisms) for non-design team members to use, each one able to control and slightly alter visual components in one way or another.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-1-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-2-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-3-tinified.png" alt="" style="max-width: 736px; width: 100%;">
        <img class="no-shadow" src="../images/portfolio/qunomedical/die-anatomie/die-anatomie-4-tinified.png" alt="" style="max-width: 736px; width: 100%;">
      </div>
    </div>


    <div class="row justify-content-md-center mb-96">
      <div class="col-md-12 col-lg-6 text-center">
        <h4>Thanks!</h4>
        <p>
          That's it for now, the ride on the time machine has ended. Thank you for joining me, and I would love to chat.
        </p>
        <p>
          <a href="mailto:donahue.ian@gmail.com?subject=Dave Case Study" class="strong">Drop me an email!</a>
        </p>
      </div>
    </div>

  </div>
</section>


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0">


</section>
<!-- /portfolio -->

{{ end }}
