{{ define "main" }}

<!-- page title -->
<section class="page-title page-title-ubermedia bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h1 class="text-white font-tertiary">The Gent's Guide <br>to Style</h1>
        <p>
          A Digital Toolkit for men who want to look the part in any situation.
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- <div class="hero gents-guide">
  <div class="case-study-hero case-study-gents-guide">
    <div class="artwork artwork-gents-guide"></div>
  </div>
</div> -->

<div class="hero gents-guide">
  <div class="case-study-hero case-study-gents-guide-alt"></div>
</div>



<div class="section case-study-section">
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container">
      <div class="meta-item">
        <div class="label">
          Client
        </div>
        <div class="value">
          Senior Capstone
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Industry
        </div>
        <div class="Value">
          Style & Fashion
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          UX Interactive & Mobile
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Responsabilities
        </div>
        <div class="value">
          UX Research <br>
          Strategy <br>
          Wireframing <br>
          UI Design <br>
          User Testing <br>
          Video Demos Design
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          UI Designs <br>
          Video Demos <br>
          Landing Page
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Team
        </div>
        <div class="value">
          Ian D. &mdash; Solo Project <br>
          <a href="https://www.linkedin.com/in/oscar-fern%C3%A1ndez-792b291/" target="_blank">Oscar Fernández</a> &mdash; Advisor<br>
        </div>
      </div>

      <div class="meta-item mt-64">
        <a class="button" href="../pdf/ian-donahue_capstone-paper.pdf" target="_blank">
          Download Process
        </a>
      </div>

    </div>
    <!-- /Case Study Meta Data -->

    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-8 offset-lg-4">

          <h2>The Gent's Guide <br>to Style</h2>
          <p>University of Cincinnati, DAAP • 2011</p>


          <h3>Background</h3>
          <p>
            The Gent’s Guide to Style was created for my undergraduate senior capstone. The capstone is an individual project that spans six month and embodies the entire brainstorm, conceptualization, design, prototyping and user testing of a product. The purpose of this capstone is to have students show that they are capable of running an entire project independently while leveraging the skills they learned over their past four years of education and co-ops. The only constraints we are given on day one is that we must create something that provides some social good, usually projects are educational or help solve a problem.
          </p>

          <div class="row mb-48 mt-48">
            <div class="col-md-12">
              <img src="../images/portfolio/gents-guide/gents_guide_to_style_iMac-2.jpg" alt="">
            </div>
          </div>

          <h3>Overview</h3>
          <p>
            The Gents Guide to Style for the iPad, iPhone and iPod touch is an incredibly powerful interactive toolkit designed to help men make more informed decisions about what they wear. The goal of this application is to give a sense of not only the how but the why. The Gent’s Guide to Style is a series of four tools. The tools work together to help give coherent, educated suggestions for how to dress for any occasion.
          </p>
          <p>
            The Gent’s Guide to Style was created for my undergraduate senior capstone. The capstone  embodies the entire design process. Concept brainstorm, conceptualization, design, prototyping and user testing of a product.
          </p>
          <p>
            After a month brainstorming concepts, researching, finding areas with gaps, I landed on men’s style and fashion. Inspired by GQ, Esquire and seeing the current style choices chosen by guys ages 16-22, I felt that their was a need to help educate young adult males transitioning from a high school or college environment into the professional workforce.
          </p>

          <h3>My Role</h3>
          <p class="note">
            Note: Note: This project was done in 2011 and republished here.
          </p>
          <p>
            As this was my undergraduate senior capstone, I was sole individual responsible for researching and discovering a problem followed by product development including personas, user research and product design.
          </p>

          <h3>Audience</h3>
          <p>
            The target audience are males age 23 to 30 who have recently graduated from college and are interested in changing to a more adult and/or professional life style. The target audience may also seeking to wear clothes that they have never had to wear before.
          </p>

          <h3>Solution, The Toolkit</h3>
          <p>
            The Occasion Guide is the key tool in navigating the complicate, but structure system of men’s style. Recommendations are based on occasion, time of day, who will be attending, and the goals of the occasion or event. The suggestions are educated, informed and based on years of tradition and styles in menswear. The supplemental tools; The How-To, Inspiration, and Handbook are are included to be solid resources for executing any of the Occasion Guide’s suggestions. With The Gents Guide to Style, there is no longer any reason why men can’t start dressing well and using their clothes as a tool for communication, increasing confidence and just having an overall better sense of style.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-white pb-96">
  <div class="container">
    <div class="row justify-content-md-center pt-64">
      <div class="col-md-12 col-lg-6">
        <h2 class="text-center">Preview</h2>
      </div>
    </div>

<section class="mb-96">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-6 align-self-center">
      <h3 class="text-center">Occasion Guide</h3>
      <p class="text-center">
        A recommendations system that not only factors in the occasions but also on what you are trying to accomplish and say about yourself. This is the featured tool of this powerful toolkit. This application can take a number of unique details and generate a more educated, informed suggestion based on years of tradition and styles in menswear.
      </p>
    </div>
  </div>

  <div class="content-image col-md-12">
    <div class="row mb-32">
      <div class="col-md-12">
        <img class="" src="../images/portfolio/gents-guide/screens/screen-occasion-guide.png" alt="" style="width: 100%; max-width: 640px;">
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center mb-24">
    <div class="col-md-12 col-lg-12 align-self-center">
      <h4  class="text-center">Video Walk Through</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-7 col-xl-6">
      <video width="540" height="700" controls poster="../images/portfolio/gents-guide/video/gents-video-placeholder.png">
        <source src="../images/portfolio/gents-guide/video/ian-donahue-gents-guide-to-style.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    </div>
    <div class="col-md-12 col-lg-5 col-xl-6">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img class="" src="../images/portfolio/gents-guide/screens/guidechoice_01.jpg" alt="" style="width: 100%; max-width: 1000px;">
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img class="" src="../images/portfolio/gents-guide/screens/guidechoice_03.jpg" alt="" style="width: 100%; max-width: 1000px;">
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img class="" src="../images/portfolio/gents-guide/screens/guide_01.jpg" alt="wer" style="width: 100%; max-width: 1000px;">
        </div>

      </div>
      <div class="row mt-16">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="" src="../images/portfolio/gents-guide/screens/guide_07.jpg" alt="" style="width: 100%; max-width: 1000px;">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="" src="../images/portfolio/gents-guide/screens/guide_10.jpg" alt="" style="width: 100%; max-width: 1000px;">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="" src="../images/portfolio/gents-guide/screens/guide_12.jpg" alt="" style="width: 100%; max-width: 1000px;">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section -->
<section class="mb-96">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-6 align-self-center">
      <h3 class="text-center">How to</h3>
      <p class="text-center">
        Besides needing to know what to wear, it is important to know how to wear it. This section has more than 100 how-to guides, explanations and step-by-step references for all aspects of men's style. Search by topic and find the answers to all your questions about style. How-to articles feature video and illustrations to accommodate all types of learners.
      </p>
    </div>
  </div>

  <div class="content-image col-md-12">
      <div class="row mb-32">
        <div class="col-md-12">
          <img class="" src="../images/portfolio/gents-guide/screens/screen-how-to.png" alt="" style="width: 100%; max-width: 640px;">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/howto_03.jpg" alt="wer" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/howto_04.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/howto_02.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/howto_09.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
  </div>
</section>


<!-- Section -->
<section class="mb-96">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-6 align-self-center">
      <h3 class="text-center">Inspiration</h3>
      <p class="text-center">
        The video and image hub is constantly updated with style-minded video and images. It takes full advantage of the iPad and the iPhones high-resolution screens. Also it allows for favoriting, saving, emailing, and commenting on the videos and images.
      </p>
    </div>
  </div>

  <div class="content-image col-md-12">
      <div class="row mb-32">
        <div class="col-md-12">
          <img class="" src="../images/portfolio/gents-guide/screens/screen-inspiration.png" alt="" style="width: 100%; max-width: 640px;">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/inspiration_01.jpg" alt="wer" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/inspiration_02.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/inspiration_03.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/inspiration_05.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
  </div>
</section>



<!-- Section -->
<section>
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-6 align-self-center">
      <h3 class="text-center">The Handbook</h3>
      <p class="text-center">
        The Handbook offeres all of the information a man could ever need about all topics involving clothes and style. The Handbook is not meant to be only the "hows" but also the "whys" of men's styles and traditions. This tool is a perfect primer to any information a man could ever need about topics ranging from suits to personal grooming and accessories.
      </p>
    </div>
  </div>

  <div class="content-image col-md-12">
      <div class="row mb-32">
        <div class="col-md-12">
          <img class="" src="../images/portfolio/gents-guide/screens/screen-the-handbook.png" alt="" style="width: 100%; max-width: 640px;">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/handbook_01.jpg" alt="wer" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/handbook_02.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/handbook_03.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="" src="../images/portfolio/gents-guide/screens/handbook_04.jpg" alt="" style="width: 100%; max-width: 1000px;">
    </div>
  </div>
</section>


<!-- Section -->
  <div class="row justify-content-md-center mt-64">
    <div class="col-md-12 col-lg-6 align-self-center">
      <h3 class="text-center">Outfit Suggestion Expericens</h3>
    </div>
  </div>

  <div class="row mb-48">
    <div class="col-md-12 content-image">
      <iframe src="https://player.vimeo.com/video/48259585" width="500" height="672" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-6 align-self-center">
      <h3 class="text-center">Final Designs</h3>
      <p class="text-center">
        After research, sythsiszation, mapping user flows, whiteboarding and wireframing, it was time to design. These are a preview of the final designs.
      </p>
    </div>
  </div>


  <div class="row justify-content-md-center mb-96">
    <div class="col-md-12 col-lg-6 text-center">
      <h4>Thanks!</h4>
      <p>
        That's it for now, the ride on the time machine has ended. Thank you for joining me, and I would love to chat.
      </p>
      <p>
        <a href="mailto:donahue.ian@gmail.com?subject=Gent's Guide to Style" class="strong">Drop me an email!</a>
      </p>
    </div>
  </div>

</section>


{{ end }}
