{{ define "main" }}

<!-- page title -->
<section class="page-title page-title-shopify-forms position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h1 class="text-shopify-default-color font-tertiary">Shopify Forms: <br> Your Marketing List</h1>
        <p>
          Shopify Forms lets you easily add an email capture form to your store, helping you connect with potential customers and convert them into lifelong fans. Customize your form by adding your brand colors and logo. Collect information when you want with page targeting and timed triggers. 
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
<!-- /page title -->


<div class="hero shopify-forms">
  <div class="case-study-hero case-study-shopify-forms">
    <div class="video" style="height:100%">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zyCEiLRbuZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
    </div>
  </div>
</div>


<div class="section case-study-section">
  <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
    <div class="">
      <h2>Shopify</h2>
      <p>Shopify • 2022</p>
    </div>
  </div>
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container row">
      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Client
        </div>
        <div class="value">
          Shopify
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Industry
        </div>
        <div class="Value">
          Ecommerce
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          Product Design
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Responsabilities
        </div>
        <div class="value">
          Design <br>
          Competative Analysis <br>
          Merchant Interviews <br>
          Remote Testing
        </div>
      </div>

      <div class="meta-item col-6 col-sm-6 col-md-4 col-lg-12">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          UX Design <br>
          Handoff docs <br>
          QA Support
        </div>
      </div>

      <div class="meta-item col-12 col-xs-6 col-md-4 col-lg-12">
        <div class="label">
          Team
        </div>

        <div class="value">
          1 Product Manager<br>
          1 Designer<br>
          4 Front-end Developer<br>
          3 Back-end Developers<br>
          

        </div>
      </div>

    </div>
    <!-- /Case Study Meta Data -->


    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-8 offset-lg-4">

          <div class="d-none d-sm-none d-md-block">
            <h2>Shopify Forms</h2>
            <p>Shopify • 2022</p>
          </div>

          <div class="alert alert-info mt-64 mb-64" role="alert">
            <div class="flexbox">
              <div class="icon"></div>
              <div class="message">
                <b>There's a lot more to see but nothing I can share publicly. </b>
                <p>Happy to discuss over a coffee.</p>
              </div>
            </div>
          </div>

          <h3>Company</h3>
          <p>
            Shopify powers millions of businesses worldwide. The all-in-one commerce platform to start, run, and grow a business.
          </p>

          <h3>Context</h3>
          <p>
            For small and medium merchants it is on of their hundreds of priorities. To make it easier for Shopify merchants, the on Shopify's App store can help. The app store has thousands of first part and third party solutions. But for marketing, these solutions are prohibitively expensive for many merchants.
          </p>
          <p>
            Thankfully, Shopify offers our own first party apps for email marketing and automating their online stores. Shopify Forms is the last piece of the puzzle to enable merchants to have access to the features of much more expensive third party apps.
          </p>
          <p>
            Shopify Form's goal is to offer a customizable form expereince that is the easiest, and best lead generation tool available to Shopify Merchants. 
          </p>

          <img src="../images/portfolio/shopify/shopify-forms-intorduction-image.png" alt="" style="width: 100%">

          <h3>
            Audience
          </h3>
          <p>
            For our initial release, we designed the product to support merchants with 0 to 10,000 customer records. This would be a larger portion of Shopify’s merchants, but they may not be willing to pay for an expensive suit of marketing tools like Klaviyo, Seguno, etc. 
          </p>

          <h3>My Role</h3>
          <h4>Gather context</h4>
          <p>
            <strong>Competitive analysis:</strong> I researched how Merchants were currently creating a lead generation popup. The most common apps they used were Klayvio, Privy, Rivo, Seguno, POWR, Mailchimp and etc. After, I created a competitive analysis document with features. I then worked together with the product manager and engineers to prioritize them and how we wanted to integrate them into our release. 
          </p>
          <p>
            <strong>Internal context:</strong> Shopify is a big company with lots of teams and designers. It can be hard for one part of the company to know what others are doing. To fix this, I talked to designers on different teams to learn about their work and plans. I worked closely with a designer on the Shopify Email team to create unified solution that would feel familiar to Shopify Merchants when using Shopify Forms and Shopify Email.
          </p>
          <p>
            <strong>Merchant interviews:</strong> Shopify is a big company with lots of teams and designers. It can be hard for one part of the company to know what others are doing. To fix this, I talked to designers on different teams to learn about their work and plans. I worked closely with a designer on the Shopify Email team to create unified solution that would feel familiar to Shopify Merchants when using Shopify Forms and Shopify Email.
          </p>
          <h4>
            Product thinking
          </h4>
          <p>
            I collaborated closely with the product manager and engineering team to understand user needs and set goals for our product. We held weekly meetings and follow-ups to plan and make sure everything stays on track. 
          </p>
          <h4>
            Designing the merchant and buy experience
          </h4>
          <p>
            <strong>Merchant experience:</strong> Using design methods and lead co-creation workshops to fight complexity and break problems into an easy to use solution. I leveraged the UI using Polaris, Shopify’s design system as much as possible. This allowed us to solve basic UI problems with Polaris, but much of Shopify Forms required designing entirely new UX patterns. Examples being 
          </p>
          <p>
            <strong>Buyer experience:</strong> Designed trustable popup that could work well on mobile and desktop. The buyer needs an easy to use, mobile friendly, assessable, fast and delightful popup form.
          </p>
          <!-- <h4>
            Supporting engineering
          </h4>
          <p>

          </p> -->

        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-white pt-96">
  <div class="container">

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Merchant Experience</h3>
        <p class="text-left">
          This is the merchant side of building a form for their Shopify online store. Once Shopify Forms is installed they can create their very first form to collect emails from online store
        </p>
      </div>
    </div>



    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h4 class="text-left">Overview page</h4>
        <p class="text-left">
          For a new user, they don't have a form yet, so this follows UX standards for a default state and prompts them to build their first form.
        </p>
        <h5>Next Steps</h5>
        <p>
          My most recent project at Shopify was to lead the team designing and developing the new overview page which would support multiple forms and analytics. Unfortunately, until it is released I am unable to share the work. It should be released in the next 2 months. 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12" style="background-color: #FFEBD3; background: linear-gradient(145.22deg, #F7A684 25.71%, #BE84BE 97.27%);  border-radius: 8px;">
        <div class="container" style="display: flex; flex-grow: 1; gap: 40px;">

          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=19%3A3506&t=2gSD55BQsXM1a6iS-4" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/overview-mobile.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Overview
              </div>
            </div>
          </a>
          
          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=19%3A3507&t=2gSD55BQsXM1a6iS-4" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/overview-desktop.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Overview
              </div>
            </div>
          </a>
        
        </div>
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h4 class="text-left">Form overview</h4>
        <p class="text-left">
          Allows merchantes to quickly get an overview of the performances of their form as well as build segments build segments and edit their form
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12" style="background-color: #FFEBD3; background: linear-gradient(145.22deg, #F7A684 25.71%, #BE84BE 97.27%);  border-radius: 8px;">
        <div class="container" style="display: flex; flex-grow: 1; gap: 40px;">

          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=19%3A3413&t=2gSD55BQsXM1a6iS-1" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/form-overview-mobile.png" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Forms Overview
              </div>
            </div>
          </a>
          
          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=19%3A3413&t=2gSD55BQsXM1a6iS-1" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/form-overview-desktop.png" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Forms Overview
              </div>
            </div>
          </a>
        
        </div>
      </div>
    </div>



    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h4 class="text-left">Form Editor</h4>
        <p class="text-left">
          Merchants can style a form as a chance to make their brand really shine and earn that “Yes, add me to your list!” moment from a vosotpr. Merchants are be able to edit the form text, including the header, call to action button, and confirmation message. Consider it a great way to showcase a brand’s personality.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12" style="background-color: #FFEBD3; background: linear-gradient(145.22deg, #F7A684 25.71%, #BE84BE 97.27%); border-radius: 8px;">
        <div class="container" style="display: flex; flex-grow: 1; gap: 40px;">

          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=19%3A3435&t=2gSD55BQsXM1a6iS-4" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/form-editor-mobile.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Forms editor
              </div>
            </div>
          </a>
          
          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=19%3A3429&t=2gSD55BQsXM1a6iS-4" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/form-editor-desktop.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Forms editor
              </div>
            </div>
          </a>
        
        </div>
      </div>
    </div>



    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h3 class="text-left">Buyer Experience</h3>
        <p class="text-left">
          Merchants can style a form as a chance to make their brand really shine and earn that “Yes, add me to your list!” moment from a vosotpr. Merchants are be able to edit the form text, including the header, call to action button, and confirmation message. Consider it a great way to showcase a brand’s personality.
        </p>
      </div>
    </div>



    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h4 class="text-left">Desktop Experience</h4>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12" style="background-color: #FFEBD3;
        margin-bottom: 24px;
        padding-left: 32px;
        padding-top: 48px;
        padding-right: 32px;
        padding-bottom: 32px;
        border-radius: 8px;"
        >
        <div class="container" style="display: flex; flex-grow: 1; gap: 40px;">

          <a class="" href="https://www.figma.com/proto/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?page-id=25%3A3211&node-id=25%3A3793&viewport=1007%2C433%2C0.56&scaling=min-zoom&starting-point-node-id=25%3A3793&show-proto-sidebar=1" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/shopify-form-bx-preview-teaser.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Teaser
              </div>
            </div>
          </a>

          <a class="" href="https://www.figma.com/proto/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?page-id=25%3A3211&node-id=49%3A4552&viewport=1340%2C31%2C0.44&scaling=scale-down&starting-point-node-id=49%3A4552&show-proto-sidebar=1" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/shopify-form-bx-preview-form.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Forms 
              </div>
            </div>
          </a>
          
          <a class="" href="https://www.figma.com/proto/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?page-id=25%3A3211&node-id=25%3A3793&viewport=1007%2C433%2C0.56&scaling=min-zoom&starting-point-node-id=25%3A3793&show-proto-sidebar=1" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/shopify-form-bx-preview-success.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Success with discount
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="button-group" style="  
          margin-bottom: 50px;
          width: 100%;
          text-align: center;
          align-content: space-around;
          display: flex;
          flex-wrap: wrap-reverse;
          margin-left: auto;
          margin-right: auto;
          flex-direction: row;
          justify-content: center;"
        >
        <a href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=25%3A3211&t=W8mnbHVnXtzc98h3-1" target="_blank" class="button mr-8">Figma files</a>
        <a href="https://www.figma.com/proto/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?page-id=25%3A3211&node-id=25%3A3212&viewport=1007%2C433%2C0.56&scaling=min-zoom&starting-point-node-id=25%3A3793" target="_blank" class="button ml-8">Prototype</a>
      </div>
    </div>




    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8 align-self-center">
        <h4 class="text-left">Mobile Experience</h4>
      </div>
    </div>

    <div class="row">
      <div class="content-image col-md-12" style="background-color: #FFEBD3;
        margin-bottom: 24px;
        padding-left: 32px;
        padding-top: 48px;
        padding-right: 32px;
        padding-bottom: 32px;
        border-radius: 8px;"
        >
        <div class="container" style="display: flex; flex-grow: 1; gap: 40px;">

          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=49%3A4706&t=W8mnbHVnXtzc98h3-4" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/shopify-form-bx-preview-teaser-mobile.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Teaser
              </div>
            </div>
          </a>

          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=49%3A4805&t=W8mnbHVnXtzc98h3-4" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/shopify-form-bx-preview-form-mobile.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Forms 
              </div>
            </div>
          </a>
          
          <a class="" href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=49%3A5103&t=W8mnbHVnXtzc98h3-4" target="_blank">
            <div class="">
              <img class="shadow mobile-device" src="../images/portfolio/shopify/product-screenshots/shopify-form-bx-preview-succes-mobile.jpg" alt="" width="100%" style="border-radius: 8px;">
              <div class="caption text-center">
                Success with discount
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="button-group" style="  
          margin-bottom: 50px;
          width: 100%;
          text-align: center;
          align-content: space-around;
          display: flex;
          flex-wrap: wrap-reverse;
          margin-left: auto;
          margin-right: auto;
          flex-direction: row;
          justify-content: center;"
        >
        <a href="https://www.figma.com/file/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?node-id=49%3A4705&t=LeNYoQGZdwlNksK0-1" target="_blank" class="button mr-8">Figma files</a>
        <a href="https://www.figma.com/proto/qAqGRIgTz8O0y6a4ZdmkYS/Shopify-Forms-Rebuild?page-id=49%3A4705&node-id=89%3A5420&viewport=1002%2C43%2C0.27&scaling=scale-down&starting-point-node-id=89%3A5420" target="_blank" class="button ml-8">Prototype</a>
      </div>
    </div>


  </div>
</section>

<!-- <section class="bg-dark pt-96">
  <h3>
    Future features
  </h3>
  <p>
    <h4>
      Multiple Forms
    </h4>
    <p>
      Merchants can now create multiple forms and 
    </p>
    <h4>
      Metafields
    </h4>
    <p>
      Starting with phone numbers and dates of birth.
    </p>
    <h4>
      Templates
    </h4>

  </p>
  <h4>
    The buyer funnel
  </h4>
  <img src="../images/portfolio/shopify/shopify-forms-funnel-visual.png" alt="" style="width: 100%">

</section> -->


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0">


</section>
<!-- /portfolio -->

{{ end }}
