<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    <h1>
      I’m a Berlin based Product Designer, front-end developer and dog photographer.
    </h1>
    <p>
      I'm an interdisciplinary Product Designer and former startup cofounder. I’m currently a Freelance Product Design Lead designing workspace tools at Dave and UberMedia. I focus on making complex workflows simple, effective, and delightful. Also, I build front-ends. My core skills are empathy, problem-solving, and execution. I'm blessed to have built my own company, been acquired, and learned a lot along the way. But I’ll never stop learning. Reach out if you’re interested in working together.
    </p>
  </body>
</html>
