// ------------------------------------------------------------------
// [About Page]
// PROJECT: Project Name
// VERSION: Versoin Number
//-------------------------------------------------------------------
.about-section {
  padding-top: 250px !important;
}

.layer img {
  opacity: 0.1;
  transition: 0.5s;
}
.layer:hover img{
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}
.layer .ian {
  border-radius: 6px;
}



.layer {
  position: absolute;
  z-index: 1
}

#l1 {
  bottom: 0;
  left: 0
}

#l2 {
  top: 190px;
  left: -250px
}

#l3 {
  left: 5%;
  top: 147px;
}

// Ian Graphic
#l4 {
  right: 15%;
  top: 110px;
}

#l5 {
  left: 1569.5px;
  top: 95px;
}

#l6 {
  bottom: -20px;
  left: 10%
}

#l7 {
  bottom: 100px;
  left: 25%;
  // left: 346.279px;
  top: 560.671px;
}

#l8 {
  bottom: 160px;
  right: 45%
}

#l9 {
  bottom: 100px;
  right: -10px
}


.section-cv.section {
  padding-top: 144px;
}
.section-cv .intro,
.job .job-title {
  // color: $color-gray-03;
}
.section-cv h3 {}
.section-cv .intro {
  margin-bottom: 54px;
}
.section-cv .larger {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 30px;
}
.job-overview {
  display: flex;
  justify-content: space-between;
}
.date-range {
  color: $yg-color-gray-01;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  text-align: right;
}
.job {
  padding: 24px 0;
  border-top: 1px solid rgba(#798A93, 0.4);
  color: $yg-color-black;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bold;
}
.job .primary {
  font-size: 27px;
  font-family: var(--font-secondary);
  font-weight: 600;
  line-height: 34px;
  .note {
    margin-left: 16px;
    color: $yg-color-gray-01;
    font-size: 15px;
    font-weight: normal;
    line-height: 34px;
  }
}
.job .secondary {
  margin-top: 8px;
  margin-bottom: 8px;
  color: $yg-color-gray-01;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
}
.job .job-description {
  max-width: 480px;
  margin-top: 8px;
  color: $color-gray-05;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}


.stats-container {
  padding: 48px;
  color: $color-gray-05;
  background-color: #F3F8F7;
  .header {
    margin-bottom: 32px;
    color: $yg-color-black;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 31px;
    line-height: 37px;
  }
  .stats {
    .stat {
      margin-bottom: 24px;
    }
    .label {
      color: $yg-color-black;
      font-weight: bold;
      font-size: 19px;
      line-height: 26px;
      text-decoration: uppercase;
      font-weight: 500;
      font-size: 19px;
      line-height: 22px;
      text-transform: uppercase;
      padding-right: 16px;
    }
    .value {
      a {
        padding: 8px;
        margin-right: 8px;
        color: $yg-color-gray-01;


        font-weight: 500;
        font-size: 19px;
        line-height: 26px;
        background-color: #D9E2EA;
        border-radius: 7px;
        // Hover Position Settings
        position: relative;
        bottom: 0;
        &:hover {
          box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.08);
          bottom: 3px;
        }
      }
    }
  }
}

.section-experience {}
.job {}
.job-company {
  font-weight: 600;
  font-size: 27px;
  line-height: 34px;
}


.job {
  position: relative;
  &:hover {
    .link-overlay {
      opacity: 1;
      transition: 0.5s;
    }
  }
}

.link-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -96px;
  background-color: rgba(white, 0.9);
  opacity: 0;
  transition: 1s;
  z-index: 100;
}
.link-overlay .button {
  width: 100%;
  max-width: 240px;
  text-align: center;
  color: $yg-color-gray-01;
  border-color: $yg-color-gray-01;
  border-width: 2px;
  font-weight: 500;
}
