.page-title.page-title-dave,
.page-title.page-title-ubermedia {
  padding-bottom: 350px;
}
.hero {
  height: 300px;
  background: #fafafa;
  &.dave {
    height: 364px;
  }
  &.ubermedia {
    height: 170px;
  }
}
.content {
  position: relative;
  bottom: 300px;
}

.case-study-hero {
  position: relative;
  bottom: 370px;
  width: calc(100% - 48px);
  max-width: 1200px;
  height: 696px;
  margin-left: auto;
  margin-right: auto;
  background-color: #858D99;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 36px 100px rgba(33, 68, 104, 0.12), 0px 12px 32px rgba(25, 28, 31, 0.08);
  border-radius: 8px;
}

.case-study-dave {
  height: 734px;
  background-image: url('/images/portfolio/dave/dave-hero.png');
  background-color: transparent;
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
}
.case-study-ubermedia {
  height: 558px;
  margin-top: 70px;
  background-image: url('/images/portfolio/ubermedia/case-study-hero-ubermedia.png');
  background-color: #4a90e2;
  background-position: center -27px;
  background-size: cover;
}
.caption {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 16px;
}

.content-image {
  width: 100%;
  padding: 64px;
  margin-top: 40px;
  margin-bottom: 96px;
  text-align: center;
  background-color: #FAFAFA;
  img {
    width: 100%;
    border-radius: 6px;
  }
}

.case-study-section { background-color: #FAFAFA }

.cs-meta-container {
  position: absolute;
  margin-top: 32px;
}
@media (max-width: 991px) {
  .cs-meta-container {
    position: relative;
  }
  .cs-meta-container {
    display: flex;
    flex-wrap: wrap;
  }
  .meta-item {
    width: 33%;
  }

}


.meta-item {
  margin-bottom: 16px;
  font-size: 20px;
  .label {
    color: $yg-color-black;
    font-weight: bold;
    line-height: 28px;
  }
  .value {
    font-weight: normal;
    line-height: 28px;
    a {
      color: $yg-color-black;
      transition: 0.5s;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $color-secondary;
transition: 0.5s;
      }
    }
  }
}


.ian-davemoji {
  position: relative;
  border: 281px;
  height: 276px;
  width: 100%;
  display: inline-block;
  top: 458px;
  left: 0;
  img {
    width: 497px;
    position: relative;
    top: 280px;
    left: 32px;
    transition: 0.5s;
  }
}
.ian-davemoji:hover img {
  top: -230px;
  transition: 0.5s;
}

.thumbnail-section {
  .thumbnail {
    margin-bottom: 32px;

    // transition: 0.5s;
    // &:hover {
    //   transform: scale(1.5);
    //   z-index: 200;
    //   transition: 0.5s;
    // }
    img {
      border-radius: 2;
    }
  }
}

// Meetloaf
.page-title-meetloaf {
  background-color: #EC4039;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.hero.meetloaf {
  background-image: url("/images/portfolio/meetloaf/bg-meetloaf.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.bg-meetloaf {
  padding-top: 250px;
  padding-bottom: 200px;
  background-image: url("/images/portfolio/meetloaf/meetloaf-background.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

// /Meetloaf
