

// ========================================== //
// Homepage Project Features
// ========================================== //

.page-portfolio {
  padding-top: 64px;
  padding-bottom: 96px;
  background-color: #FAFAFA;
}
.project-section {
  margin-bottom: 48px;
  margin-top: 24px;
  .project-graphic {}
  .company-name {
    margin-top: 16px;
    margin-bottom: 16px;
    color: $yg-color-gray-01;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
  }
  .project-header {
    margin-top: 16px;
    margin-bottom: 16px;
    color: $yg-color-black;
    font-weight: 600;
    font-size: 42px;
    line-height: 49px;
  }
  .project-subtitle {
    color: $yg-color-gray-01;
    font-size: 19px;
    line-height: 150%;
  }
  .project-date {
    color: $yg-color-gray-01;
    font-size: 19px;
    line-height: 22px;
  }
}
.graphic-container {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  //transition
  transition: 0.5s;
  transform: scale(1);
  box-shadow: 0px 36px 100px rgba(33, 68, 104, 0.0), 0px 12px 32px rgba(25, 28, 31, 0.00);
  z-index: 100;
}
a:hover .graphic-container {
  //transition
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0px 36px 100px rgba(33, 68, 104, 0.12), 0px 12px 32px rgba(25, 28, 31, 0.08);
  z-index: 1000;
}
.project-section .note {
  opacity: 0;
  transition: 0.5s;
}
.project-section:hover .note {
  opacity: 1;
  transition: 0.5s;
}
// .project-section:hover {
//   cursor: default;
//   transform: scale(1);
//   .note.soon {
//     opacity: 1;
//   }
// }

.note {
  position: absolute;
  right: 16px;
  top: 16px;
  display: inline-block;
  padding: 8px 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  background-color: $color-secondary;
  border-radius: 30px;
  opacity: 0;
  transition: 0.5s;
  &.soon {
    color: $yg-color-gray-01;
    background-color: #DFEBF2;
  }
  &.dark {
    color: white;
    background-color: #155263;
  }
}
.note .preview {}




// Custom Graphics for each project
.qunomedical-section {
  .graphic-container {
    background-color: white;
    background-image: url('/images/portfolio/qunomedical/project-qunomedical-hero-yellow-tinified.jpg');
    background-size: cover;
  }
}


.dave-section {
  .graphic-container {
    background-color: white;
    background-image: url('/images/portfolio/dave/project-dave-hero-tinified.png');
    background-size: 1440px;
    background-position: center bottom;
  }
}

.ubermedia-section .graphic-container {
  background-color: #4A90E2;
  color: white;
  background-image: url('/images/portfolio/ubermedia/ubermedia-project-preview-tinified.png');
  background-repeat: no-repeat;
  background-size: 950px;
  background-position: center center;
}

.cintric-section .graphic-container {
  background-color: #394B59;
  background-image: url('/images/portfolio/cintric/thumbnail-cintric-analyst-tinified.png');
  background-repeat: no-repeat;
  background-size: 530px;
  background-position: 0px bottom;
}

.meetloaf-section .graphic-container {
  background-color: white;
  background-image: url('/images/portfolio/meetloaf/thumbmail-venn-meetloaf-tinified.png');
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: top right;
}

.gents-section .graphic-container {
  background-color: white;
  background-image: url('/images/portfolio/gents-guide/thumbnail-gents-guide-tinified.png');
  background-repeat: no-repeat;
  background-position: center left;
}
