// Variables

// Colors
$color-primary:   #22262C;
$color-secondary: #FFD84D;

$color-gray-01:   #798A93;
$color-gray-02:   #D9E2EA;
$color-gray-03:   #CBD6DD;
$color-gray-04:   #B1BDC6;
$color-gray-05:   #798A93;
$color-gray-06:   #33454A;
$color-gray-07:   #22262C;

$yg-color-black:    #143757;
$yg-color-gray-01:  #798A93;
