<div class="stats-container">
  <div class="stats-personal">
    <div class="header">
      Personal
    </div>
    <div class="stats">
      <div class="stat">
        <div class="label">
          Hobbies
        </div>
        <div class="value">
          Dog Photography, Design, Coffee, Magic the Gathering, German Language, Web Development
        </div>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="label">
          Inspired By
        </div>
        <div class="value">
          Chris Do, Deter Rams, Edward Tufte
        </div>
      </div>
    </div>
  </div>

  <div class="stats-professional">

  </div>

</div>
