<div class="stats-container">
  <div class="stats-personal">
    <div class="header">
      Stats
    </div>
    <div class="stats">
      <div class="stat">
        <div class="label">
          Age:
        </div>
        <div class="value">
          Experienced...
        </div>
      </div>
      <div class="stat">
        <div class="label">
          Born:
        </div>
        <div class="value">
          Cincinnati, Ohio, USA
        </div>
      </div>
      <div class="stat">
        <div class="label">
          Currently:
        </div>
        <div class="value">
          Berlin, Germany
        </div>
      </div>
      <div class="stat">
        <div class="label">
          Education:
        </div>
        <div class="value">
          B.S. University of Cincinnati <br>Design - Digital Design
        </div>
      </div>

      <div class="stat">
        <div class="label">
          Languages:
        </div>
        <div class="value">
          English (Native), German (B1)
        </div>
      </div>
    </div>
  </div>

  <div class="stats-professional">

  </div>

</div>
