<div class="stats-container">
  <div class="stats-personal">
    <div class="header">
      Stats
    </div>
    <div class="stats">
      <div class="stat">
        <span class="label">
          Age:
        </span>
        <span class="value">
          Experienced...
        </span>
      </div>
      <div class="stat">
        <span class="label">
          Born:
        </span>
        <span class="value">
          USA
        </span>
      </div>
      <div class="stat">
        <span class="label">
          Currently:
        </span>
        <span class="value">
          Berlin, Germany
        </span>
      </div>
      <div class="stat">
        <span class="label">
          Education:
        </span>
        <span class="value">
          B.S. University of Cincinnati, Design - Digital Design
        </span>
      </div>

      <div class="stat">
        <span class="label">
          Languages:
        </span>
        <span class="value">
          English (Native), German (B1)
        </span>
      </div>
    </div>
  </div>

  <div class="stats-professional">

  </div>

</div>
