<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="container border-top text-center border-dark py-5 flexbox justify-content-between">
    <div class="social-links-container flexbox justify-content-between">
      <ul>
        <li>
          <a href="mailto:donahue.ian+ianthedesigner@gmail.com?subject=Hello Ian!" target="_blank">Email</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://dribbble.com/iandonahue" target="_blank">dribbble</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://github.com/iandonahue" target="_blank">Github</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://codepen.io/idonahue" target="_blank">Codepen</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://instagram.com/maothedachshund" target="_blank">🐕</a>
        </li>
      </ul>
    </div>

    <div class="copyright">
      <p class="mb-0 text-light">{{ .Site.Params.copyright | markdownify }}</p>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


{{ if not .Site.BuildDrafts }}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-34429936-1', 'auto');
ga('send', 'pageview');

</script>
{{ end }}
