<!-- Hero -->
<section class="hero-area bg-primary overflow-hidden"  id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="text-white font-tertiary">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
        <h3 class="text-white mt-8 mb-32">{{ .Site.Data.homepage.banner.sub_title | safeHTML }}</h3>
      </div>
    </div>
  </div>
  <div class="layer" id="l2">
    <img src="{{`images/illustrations/dots-cyan.svg` | relURL}}" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <a class="shadow  clip-svg" href="https://bit.ly/2Bpnfjf" alt="Photo of my dog, Mao" title="Go to Mao's Instagram" target="_blank">
      <img class="bg-shape bg-shape-1" src="{{`images/mao-photo/blob/mao-3-tinified.png` | relURL}}" alt="bg-shape" width="210px" >
    </a>
  </div>
  <div class="layer" id="l4">
    <img src="{{`images/about/ian-donahue@2x-tinified.png` | relURL}}" alt="bg-shape" width="400px" class="shadow ian">
  </div>
  <div class="layer" id="l5">
    <a href="https://bit.ly/2Bpnfjf" alt="Photo of my dog, Mao" title="Go to Mao's Instagram" target="_blank">
      <img class="shadow" src="{{`images/mao-photo/blob/mao-1-tinified.png` | relURL}}" alt="bg-shape" width="100px">
    </a>
  </div>
  <div class="layer" id="l6">
    <a href="https://bit.ly/2Bpnfjf" alt="Photo of my dog, Mao" title="Go to Mao's Instagram" target="_blank">
      <img class="shadow" src="{{`images/mao-photo/blob/mao-4-tinified.png` | relURL}}" alt="bg-shape" width="200px" >
    </a>
  </div>
  <div class="layer" id="l7">
    <a href="https://bit.ly/2Bpnfjf" alt="Photo of my dog, Mao" title="Go to Mao's Instagram" target="_blank">
      <img class="shadow" src="{{`images/mao-photo/blob/mao-5-tinified.png` | relURL}}" alt="bg-shape" width="100px" >
    </a>
  </div>
  <div class="layer" id="l8">
    <a href="https://bit.ly/2Bpnfjf" alt="Photo of my dog, Mao" title="Go to Mao's Instagram" target="_blank">
      <img class="shadow" src="{{`images/mao-photo/blob/mao-2-tinified.png` | relURL}}" alt="bg-shape" width="220px">
    </a>
  </div>
  <div class="layer" id="l9">
    <a href="https://bit.ly/2Bpnfjf" alt="Photo of my dog, Mao" title="Go to Mao's Instagram" target="_blank">
      <img src="{{`images/mao-photo/blob/mao-6-tinified.png` | relURL}}" alt="bg-shape" width="300px" class="shadow">
    </a>
  </div>
  <!-- social icon -->
  <ul class="hero-social-links">
    {{ range .Site.Params.social }}
    <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
    {{ end }}
  </ul>
  <!-- /social icon -->
</section>
<!-- End Hero -->
