<section class="section  page-portfolio pt-64 pb-0">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <a class="project-section dave-section block" href="../dave-customer-success-workspace/">
          <div class="dave-container ">
            <div class="pt-48">
              <div class="graphic-container">
                <div class="note preview">
                  Preview
                </div>
              </div>
              <div class="company-name">
                Dave
              </div>
              <div class="project-header">
                Customer Success Workspace
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 col-lg-5 offset-lg-1">
        <a class="project-section ubermedia-section block" href="../ubermedia-vista-measurement/">
          <div class="ubermedia-container ">
            <div class="pt-48">
              <div class="graphic-container">
                <div class="note preview">
                  Preview
                </div>
              </div>
              <div class="company-name">
                UberMedia
              </div>
              <div class="project-header">
                Vista <br>Measurement
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 col-lg-5">
        <div class="project-section cintric-section block" href="ubermedia-vista-measurement/">
          <div class="cintric-container ">
            <div class="pt-48">
              <div class="graphic-container">
                <div class="note soon">
                  Request Case Study
                </div>
              </div>
              <div class="company-name">
                Cintric
              </div>
              <div class="project-header">
                Analyst any location data
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-5 offset-lg-1">
        <div class="project-section meetloaf-section block" href="ubermedia-vista-measurement/">
          <div class="meetloaf-container ">
            <div class="pt-48">
              <div class="graphic-container">
                <div class="note soon">
                  Request Case Study
                </div>
              </div>
              <div class="company-name">
                Peerio Labs
              </div>
              <div class="project-header">
                Meetloaf brings people together
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
