{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="section case-study-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <!-- Case Study Meta Data -->
        <div class="cs-meta-container">
          <div class="meta-item">
            <div class="label">
              Client
            </div>
            <div class="value">
              UberMedia
            </div>
          </div>

          <div class="meta-item">
            <div class="label">
              Industry
            </div>
            <div class="Value">
              Mobile Location Data
            </div>
          </div>

          <div class="meta-item">
            <div class="label">
              Project Type
            </div>
            <div class="Value">
              Product Design
            </div>
          </div>

          <div class="meta-item">
            <div class="label">
              Responsabilities
            </div>
            <div class="value">
              Product Manager <br>
              Design <br>
              UI Front-End
            </div>
          </div>

        </div>
        <!-- /Case Study Meta Data -->
      </div>
      <div class="col-md-12 col-lg-7">
        <div class="case-study-content-container">
          <h2>About this project</h2>
          <h3>Its really great</h3>
          <h4>But taht is not all</h4>
          <h5>It also has a bunch of</h5>
          <h6>Interesting photo</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0">


</section>
<!-- /portfolio -->

{{ end }}
