{{ define "main" }}

<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="text-white font-tertiary">UberMedia Measurement product design. Launching a era for UberMedia.</h1>
        <p>
          UberMedia provides the highest quality mobile data solutions trusted by businesses to creatively solve their persistent challenges. Measurement was a core line of business but always was a complex concierge service. UberMedia Measurement offered a unique opportunity to gain new customers base using a subscription service.
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
<!-- /page title -->


<div class="case-study-hero case-study-ubermedia"></div>

<div class="section case-study-section">
  <div class="container">
    <!-- Case Study Meta Data -->
    <div class="cs-meta-container">
      <div class="meta-item">
        <div class="label">
          Client
        </div>
        <div class="value">
          UberMedia
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Industry
        </div>
        <div class="Value">
          Mobile Location Data
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Project Type
        </div>
        <div class="Value">
          Product Design
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Responsabilities
        </div>
        <div class="value">
          Product Manager <br>
          Design <br>
          UI Front-End
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Deliverables
        </div>
        <div class="value">
          Design <br>
          Design System
        </div>
      </div>

      <div class="meta-item">
        <div class="label">
          Research Methods
        </div>
        <div class="value">
          Immersion <br>
          Co-Creation <br>
          Rapid Prototyping
        </div>
      </div>

    </div>
    <!-- /Case Study Meta Data -->

    <div class="row">
      <div class="case-study-content-container">
        <div class="col-md-12 col-lg-7 offset-lg-4">

          <h2>Case Study</h2>
          <p>by: Ian Donahue</p>

          <div class="alert alert-info mt-64 mb-64" role="alert">
            <div class="flexbox">
              <div class="icon"></div>
              <div class="message">
                <b>Howdy!</b>
                <p>
                  Case study is under construction. Please check back soon.
                </p>
              </div>
            </div>
          </div>

          <h3>Background</h3>
          <p>
            UberMedia provides the highest quality mobile data solutions trusted by businesses to creatively solve their persistent challenges. The company’s diverse suite of products process billions of social, demographic, and location signals daily for Fortune 500 companies across retail, automotive, and entertainment to better understand and influence modern consumers with the most accurate business decision science.
          </p>
          <h3>Problem</h3>
          <p>
            UM can analyze and measure the effectiveness of mobile ads at driving in-store visits. The problem was difficulty in requesting, managing and visualization reports. Sharing process for reports with clients was a manual process and not productizable. The primary goal was to find a way to make requesting reports easier. The secondary goal design a automatic visualization of reports. This small ask would turn into one of UberMedia's core business offerings.
          </p>

          <h3>My Role</h3>
          <p>
            Worked as the product manager in addition to the product designer and UI developer. We discovered pain-points, managed stakeholder expectations, wireframed as well as prototyped the flows/solutions, designed the visual brand, led the team, and developed the UI. Three hats are a lot of hats.
          </p>
        </div>

        <div class="divider"></div>

        <div class="col-md-12 col-lg-7 offset-lg-4">
          <h2>Process Documents</h2>
          <p>
            weirowueroiwur
          </p>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-7 offset-lg-4">
            <h3>Communicating technical requirements</h3>
            <p>
              Technical complexity required user flows diagrams. I developed them to get technical buy-in from engineers, stakeholders, and technical advisors before design and engineering began.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="content-image col-md-12 col-lg-10 offset-lg-2">
            <img src="/images/portfolio/ubermedia/measurement-user-diagram.png" alt="" width="300px">
          </div>
        </div>

        <div class="row">
          <div class="caption col-md-12 col-lg-7 offset-lg-4">
            lorem ipsum dor sit al met
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-7 offset-lg-4">
            <h3>User Dagram Flows & Rapid Prototyping</h3>
            <p>
              This is part of the "campaign setup" user flow diagrams. I do these so that the engineering team, technical advisors, and stakeholders understood the technical flow.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="content-image col-md-12 col-lg-10 offset-lg-2">
            <img src="/images/portfolio/ubermedia/measurement-screen-flows.png" alt="" width="300px">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- portfolio -->
<section class="section  page-project pt-0 pb-0">


</section>
<!-- /portfolio -->

{{ end }}
